[2020-05-18 07:02] kexul opened #1 "plot two lines"
How to plot two lines in the same time?

[2020-05-18 10:21] piccolomo commented on #1
Thanks for the question kexul, for now only one line is allowed, I may add the option of multiple lines soon if it is requested. I will update

[2020-06-26 08:50] madrian commented on #1
I have the same question. It would be good to have with different y axis range.

Overall, this tool is great and lightweight. It is good for quick analysis of data points. I'm trying to integrate it with another project. Thanks @piccolomo.

[2020-07-02 14:36] piccolomo commented on #1
I actually found a way to plot multiple lines with different options. It will be available in the next version of the package, coming soon ... any other input is valuable, thanks

[2020-07-04 22:53] piccolomo commented on #1
Hi Kezul and Madrian, I have finally updated the package and **you can now plot multiples lines**. There are also other changes.

You can find the package at https://pypi.org/project/plotext/.
Let me know what you think and if there are any other issues.

Thanks for your inputs,
Savino

[2020-07-12 12:01] #1 closed

[2020-07-20 12:48] Schmetzler opened #4 "Consecutive run of show changes the view"
I found a strange bug, that when you run `plx.show()` multiple times,
the view is changed and not plotted the same each time.

I tried following scenario:

[code]

I get:
[code]

If I continue it eventually looks like:
[code]

I also tried different configurations (no rows and cols, no equations, no color)
everytime it is the same... something is changed if you call show() again.

[2020-07-20 13:54] Schmetzler opened #5 "Cannot plot a line of only zeros"
There is another problem, if i want to plot a datastream that only contains zeros it throws an exception and not plotting anything.

I tried this:
[code]

and got this:

[code]

If I set the ylim to something this issue does not occur.

[2020-08-21 10:04] kris927b opened #6 "Histogram"
Super cool package! Love the features. 😀

I was wondering if it was possible to add a way of creating histograms with this package. 📈
It would be super handy if the structure followed that of matplotlib just like your other functions does. 👨‍💻

[2020-08-24 10:10] piccolomo commented on #6
Hi Kris927b,

thanks for your comment and I am glad you liked the package! :-)

Yours is a great suggestion I should definitively work on that in the near future.
For the next version, I am now working on plottng the real point coordinates as the axis ticks, which is not as easy as it sounds.

I will update on the histogram feature, any other idea (or bug) is welcomed!

Savino

[2020-08-24 10:17] piccolomo commented on #4
Dear Schmetzler,

thanks for the bug report. That is a real bug which I have now fixed (but not published yet).

The problem is that, due to the size of the data pixel, each time the limits of the plot are calculated, they are set slightly bigger then the data set. The bug is due to the fact that the limits were calculated from the already expanded version and so each time you plot the limits expa

[2020-08-24 10:20] piccolomo commented on #5
Dear  Schmetzler ,
thanks for this bug report as well.

I have now resolved this issue but not publish it yet. I will in the next version, which will have the real data coordinates as axis ticks and will take some time.

Any other bug report is more then welcomed! :-)

Savino

[2020-10-01 03:06] geoffrey-eisenbarth opened #7 "Support for Datetime Axis"
Wanted to say that I love this library and it has been super useful!

I am interested in helping add datetime support for the x-axis if it's something you're interested in. The particular case I'm thinking of is using a pandas Series with a datetime index. I haven't had a chance to dig into the source code yet, but was hoping to gauge interest in this kind of support and perhaps get pointers for w

[2020-10-06 08:37] ThSGM opened #8 "Streaming data flickering"
I tried to code up an example with streaming data but it flickers quite poorly. Am I doing something wrong?

[code]

[2020-10-06 09:35] piccolomo commented on #8
Hi ThSGM,

thanks for the comment. I tried your code and it worked well on my machine. I would try to tweak the sleeping time in `sleep(time)` to adapt it to your machine. Also notice that when the plot clears, it clears also all the plot style.

Here is the revised code:

`#!/usr/bin/env python3
import plotext.plot as plx
import numpy as np

pi = np.pi
n_points = 50
x = np.linspace(0, 2 * pi, n_p

[2020-10-10 11:55] piccolomo commented on #7
Hi geoffrey-eisenbarth,

thanks a lot for your comment, I am glad you are enjoying the package!

For sure I would be interested in collaborating to include date-time support in the package.
I am now dealing with showing the real coordinates in the x and y axis for the next package update so your comment comes at the right time.

I am now busy with work but we could plan what to do and the function

[2020-11-04 10:16] qarlosalberto opened #9 "Error with y=[0,0...]"
Hello,

I have an error with this code:

[code]
[code]

But this code works fine:

[code]

[2020-12-01 10:48] Psychi1 opened #10 "Axes with wrong labels"
Hi,

maybe I missunderstood the manual, but I expect a plot from x = 1 to 10 and values y from 1 to 100.

[code]

however I get a plot like the this one.

[code]
The (x,y)-pairs are not matching with the labels on the axes.

What I'm doing wrong?

[code]

Bye, Uwe

[2020-12-19 17:13] miraculixx commented on #10
Same issue, whatever the values, with or without setting ylim, xlim, the plot always comes out with the same axes labels, as shown above.

[2020-12-20 01:09] piccolomo commented on #10
Hi Psychi1 and miraculixx,

thanks for the issue reporting. That version of plotext does what intended. I have now updated the packed to version 2 which can better handles the axes ticks.
Here is the code:

`import plotext as plt
plt.scatter(x, y)
plt.set_canvas_size(100, 30) # not necessary but it makes the plot easier to upload here
plt.show()
`
and here is the outputted plot:
`

[2020-12-20 01:10] #10 closed

[2020-12-20 01:54] piccolomo commented on #9
Hi qarlosalberto,

thanks for reporting the issue. You are right there was an error in the code.

Luckily, I have just upgraded the package, also solving this issue.

Here is the code:
[code]
and here is the plot:
[code]

which outputs what you would expect.

You can upgrade your `plotext` version using `pip install plotext --upgrade` and acess the package documentation at[ pypi:plotext ](https://

[2020-12-20 01:56] #8 closed

[2020-12-20 01:59] piccolomo commented on #7
Hi geoffrey-eisenbarth,

just in case you are still interested, I have just uploaded a new `plotext`  version. The documentation ia available at  [pypi: plotext ](https://pypi.org/project/plotext/) and [github: plotext](https://github.com/piccolomo/plotext).

The package can be upgraded using `pip install plotext --upgrade`

all the best.

[2020-12-20 02:04] piccolomo commented on #5
Dear Schmetzler ,

thanks for reporting the issue.

Luckily, I have just upgraded the package, also solving this issue.

Here is the code:
[code]
and here is the plot:
[code]

[2020-12-20 02:06] #5 closed

[2020-12-20 02:11] piccolomo commented on #4
Dear Schmetzler,

I have just upgraded plotext to a new version which solved the bug you reported.
Here is the code:
[code]
And the expected output:
[code]

You can upgrade your `plotext` version using `pip install plotext --upgrade` and access the package documentation at[ pypi:plotext ](https://pypi.org/project/plotext/)and [github:plotext](https://github.com/piccolomo/plotext).
The package has

[2020-12-20 02:11] #4 closed

[2020-12-20 02:12] #9 closed

[2020-12-20 02:14] piccolomo commented on #6
Hi Kris927b,

Tehre is a new version available at [pypi:plotext ](https://pypi.org/project/plotext/)and [github:plotext](https://github.com/piccolomo/plotext) but I still need to work on the histogram feature!

[2020-12-20 10:23] qarlosalberto commented on #9
Thank you very much! Your sw is awesone :)

[2020-12-20 17:43] piccolomo commented on #9
Also I forgot, your code works also with the scatter function, where the output is:
[code]

all the best

[2021-01-04 18:37] abitrolly opened #11 "That repo history..."
...is very unusual.

@piccolomo are out syncing it from other version control system?

[2021-01-04 18:41] piccolomo commented on #11
I don't think I understand the question.

[2021-01-05 13:44] abitrolly commented on #11
In `git` history this project is only 4 days old - https://github.com/piccolomo/plotext/commits/master

[2021-01-05 22:19] piccolomo commented on #11
So what is the problem with that ?!

[2021-01-05 22:19] piccolomo commented on #11
So what is the problem with that ?!
- Savino

On Tue, 5 Jan 2021 at 14:44, Anatoli Babenia <notifications@github.com>
wrote:

[2021-01-06 01:01] abitrolly commented on #11
The project at PyPI is much older https://pypi.org/project/plotext/#history

[2021-01-06 12:27] piccolomo commented on #11
I have no solution for empty suspiciousness ... Issue closed!

All the best

[2021-01-06 12:27] #11 closed

[2021-01-06 19:00] abitrolly commented on #11
Is there a reason to be suspicious?

Or do you imply that you've hacked this account and now it should look suspicious, because you hide some traces of hideous trojan code that was injected in the previous versions? :D

[2021-01-07 09:00] piccolomo commented on #11
How about respectfully alerting that you have found some of that code, instead of throwing accusations?

I will check the code, but tone down the attitude and be respectful !

[2021-01-07 09:25] abitrolly commented on #11
Calm down. I am not going to use your code after all. Just curious what causes the replacement of history. It could be an automation from different source control system, or a simplified pipeline for sight impaired users.

[2021-01-07 09:49] piccolomo commented on #11
(non) Issue closed!

[2021-01-07 09:59] abitrolly commented on #11
You can also make it read-only.

(That will raise the suspicion, of course..)

[2021-01-07 10:00] abitrolly commented on #11
Yep, and that didn't asnwer the question why anyone would need to erase the history every time.

[2021-01-15 22:04] david-macleod commented on #6
Also keen to seen the histogram feature 😄

[2021-01-16 07:51] Zaneo opened #12 "Ability to add data series to a secondary axis."
Ability to add values to a secondary axis in the same plot.

[code]

[2021-01-16 07:52] Zaneo opened #13 "Ability to have multiple plots on the same console."
If secondary axis is too difficult, would it be possible to have subplots, or multiple plots to display data?

[2021-01-17 21:48] piccolomo commented on #6
Dear David,

Thanks for your comment and advise. The histogram feature is something that I will work on soon.

I will update.
Cheers

[2021-01-17 21:51] piccolomo commented on #13
Dear Zaneo,

Thanks for your comment and advise. I was thinking as well to add the subplots feature to plotext but I will work on it after the histogram and logplot features, also because it requires some fondamental changes to the code.

I will update.
Cheers

[2021-01-17 21:53] piccolomo commented on #12
Dear Zaneo,

Thanks again for your comment and advise. I never thought about this idea and I will definitely think about it. If it will not be too tricky I will add it.

I will update.
Cheers

[2021-02-26 12:31] H-Ribeiro opened #14 "Streaming Data Example Version used"
Hi,
Using the latest version 2.2.2 with Streaming Data Example gives the following error:

I can tell that the syntax has changed since.

What is the most optimised version to use this example?

[2021-02-26 12:40] H-Ribeiro commented on #14
Alternately could you update the example.
Thanks

[2021-02-26 12:56] H-Ribeiro commented on #14
After some trial and error found that version 2.2.1 is the most optimised for that example.

[2021-02-26 12:56] #14 closed

[2021-02-26 13:00] piccolomo commented on #14
Hi Enrique, thanks for the query. I will properly answer you as soon as
possible.
Regards

On Fri, 26 Feb 2021, 13:56 Henrique Ribeiro, <notifications@github.com>
wrote:

[2021-02-27 19:41] piccolomo commented on #14
Hi Enrique,

thanks for your reply. I have tested that code and it worked fine on my machine with version 2.2.2 (the current most updated one).

Let me know if you have any other issues.

All the best

[2021-03-07 17:49] piccolomo commented on #6
Hi Kris927b,

as by yours and others recommendation, I have added the **histogram** feature in the most update version (2.3.0) of `plotext`, which could be accessed at [this link](https://pypi.org/project/plotext/).

I have not tested it that much, so any support, bug reports or ideas are very welcomed.

All the best in using this new feature and thanks for the query.
Savino

[2021-03-07 17:49] #6 closed

[2021-03-08 11:23] robintw opened #15 "Error when running hist example"
I've been trying to run the example code provided in the README for the hist function:

[code]

I get the following error:

[code]

It seems like `par.axes[0]` or `par.frame` aren't initialised properly? Do you have any idea how to fix this?

[2021-03-08 11:25] robintw opened #16 "Horizontal bar chart support"
This library looks great, and I'm starting to use it in my project.

As well as doing line plots, I was hoping to do horizontal bar charts that look a bit like the following (although ideally with axis ticks and so on as well):

[code]

I was hoping this would be a fairly simple modification of the existing `hist` command (as this is basically a simplified version of a histogram), but it looks lik

[2021-03-09 23:09] piccolomo commented on #15
Hi robintw,

thanks for reporting the issue. I have just updated the package and it should work now. Try upgrading to version 2.3.1 (from 2.3.0), possibly using `pip install plotext --upgrade`.

I hope it helps, but let me know and I will reopen the issue.
Thanks,
Savino

[2021-03-09 23:18] piccolomo commented on #16
Hi robintw,

the bar chart is coming in the next version.... soon... :-)

Also thanks for reporting the problem with downloading the GitHub code. I just checked and there was a hidden .git folder in the plotext directory which probably was instructing GitHub not to show the content of the folder. I deleted it and all went well. Sorry I am not that familiar with GitHub or project creation with Pyth

[2021-03-10 00:04] #15 closed

[2021-03-10 09:55] robintw commented on #15
Thanks for the prompt response, it works fine now.

[2021-03-28 22:04] marcomusy opened #17 "histogram rendering looks weird"
This looks a very cool library! While testing histogramming I get this output from the example script
(on my mac terminal)
<img width="416" alt="Screenshot 2021-03-28 at 23 59 35" src="https://user-images.githubusercontent.com/32848391/112769551-fe516600-9021-11eb-8b8d-2f60a641b324.png">

<img width="275" alt="Screenshot 2021-03-29 at 00 03 51" src="https://user-images.githubusercontent.com/328483

[2021-04-10 16:40] matthewhanson commented on #7
This is really neat library!

I'm also very interested in datetime support for the x-axis on histograms and plots. I'm using this in a CLI for querying geospatial data and quickly plotting values, but datetime is the most useful (to quickly see the temporal distribution of satellite images for instance).

I took a quick look at the code but there's a lot of moving parts so wasn't sure of where the

[2021-04-14 13:58] piccolomo commented on #7
Hi matthewhanson,

thanks for the reply, and I am glad you like the library. That is a feature I would definitively work on (in my free time from work which is not a lot).

I guess the first thing to understand is what is the standard used in Python to express dates and times and secondarily to create a function which given a list of dates (in the format chosen) returns a list of numbers spaced th

[2021-04-17 07:04] rlschuller opened #18 "hist function use the last plot to set the upper limit"
First of all, your lib is awesome : )

As a side-project, I'm working on a multi-format plotting utility, and your lib was an obvious first choice for the text output.

It's possible that I'm doing something wrong, but ylim/xlim seems to be set by the last histogram plot, and not the highest. Both scatter and line plots work well.

[2021-04-20 22:42] Chaos99 opened #19 "Doesn't work with Windows Powershell?"
I tried this with python(3) running in a windows PowerShell terminal.

It just produces a lot of strange control characters and beeping (probably the line-end bell) for a while and then stops.

I assume it's not compatible with this type of output terminal.
Might be worth a warning in the documentation/readme.

Or did I do something wrong?

Test was:
[code]
Windows 7
Python 3.8.8 (installed via Wi

[2021-05-14 09:10] garid3000 opened #20 "Ability to get the acsii-strings that is about to displayed."
Thanks for really interesting library.
(IMHO) it could be more useful for to get the acsii-strings that is about to displayed without displaying on Terminal-Emulators.
So, with that strings, one can printout the plot over the Serial-Ports (i.e. pyserial),
For example I have a need for live updating plot over UART for some real time application.

[2021-05-18 13:19] piccolomo commented on #20
Hi garid3000 and thanks for feedback.

You should be able to access the actual plot string using the parameter `plt.par.canvas`, while the actual character matrix could be retrieved using the parameter `plt.par.matrix`.

Thanks for suggestion anyway, I will add a proper function in next version to retrieve this parameter.

Did that help?
Savino

[2021-05-18 13:51] piccolomo commented on #19
Dear Chaos99,

I just tried your script using pyhton3.9.5 on a windows 10 enterprise machine with plotext 2.3.1 and it worked just fine. This is the output:
![image](https://user-images.githubusercontent.com/56689657/118662871-a26cb780-b7f0-11eb-9385-4cad8aa63b4e.png)

Could you upload your outplut? thanks

[2021-05-18 13:53] piccolomo commented on #18
Hi rlschuller,

thanks for the feedback. Could you elaborate a little bit more? perhaps with a code.

The hist function is at its first verison and you are right there maybe be proplems. If you send the code I could repair for next version
thanks

[2021-05-18 13:58] piccolomo commented on #17
Hi marcomusy,

I never tested the package on a mac terminal. I get the sense it is your terminal's problem.
Try giving this simple code and see what happens:
`print('█\n'*5)`

If the output is no working properly, it is definitively your terminals problem.

Did it work? It would be helpful knowing if it did.

Thanks

[2021-05-18 14:13] marcomusy commented on #17
yes - on a mac this is rendered as:

<img width="781" alt="Screenshot 2021-05-18 at 16 10 52" src="https://user-images.githubusercontent.com/32848391/118666634-a1895500-b7f3-11eb-8b12-db1d689a9cef.png">

(left on the "Terminus" application and right for the default terminal)
i guess it's not curable then ....
marco

[2021-05-18 14:20] piccolomo commented on #17
Thanks for reply.

then i would assume it is an issue of the mac terminal. Try check the terminal font properties, like interline etc... or try install another mac terminal (i have no idea which).

or Try using another character like `bar_marker = "x"` inside the `hist` function.

the output will look much less cooler but with no obvious spaces in different lines..

It would be nice to know what s

[2021-05-18 14:23] piccolomo commented on #17
P.S. I found [this article](https://www.maketecheasier.com/increase-line-spacing-terminal-mac/) about changing interline on mac terminal font.

[2021-05-18 15:05] garid3000 commented on #20
Savino, Thanks,
That line was exactly what I need to look at.

Also found another work around.
(If anyone interested, I'll just comment here).
One can use "gnuplot" to get ASCII chart/matrix in the shell.
So, it possible to run "gnuplot" using os.system or subprocess and retrieve that data-strings somehow.

But changing your library might easier than the this workaround.
So thanks again,

Garid

[2021-05-18 17:31] marcomusy commented on #17
Yes, you are right, by default the line spacing is set to 1 and I need to set it to 0.8 to get rid of the margins... except then all text looks clogged and hard to read .. so I guess we need to live with it..
Thanks anyway for addressing the issue!

[2021-05-18 19:12] piccolomo commented on #17
no problem, if you find a better solution, keep posted

good luck

[2021-05-18 19:12] #17 closed

[2021-05-19 15:22] rlschuller commented on #18
![image](https://user-images.githubusercontent.com/11084889/118839526-ef0dcc80-b89c-11eb-89ca-38fe08434967.png)

[2021-05-19 15:38] piccolomo commented on #18
Hi  rlschuller, you are right this is a bug and thanks for reporting.

Before I deal with it in next version, for now, I guess after calling the `hist` function and before the `show` function, you could try to extend the y limits using the `ylim` function.

Thanks and I will update.
Savino

[2021-05-19 20:56] cassiobatista opened #21 "Easiest way to plot a vertical line?"
Hey there!

I'd like to simulate a [stem plot](https://matplotlib.org/stable/gallery/lines_bars_and_markers/stem_plot.html#sphx-glr-gallery-lines-bars-and-markers-stem-plot-py). For that I think the easiest way might be using a regular scatter plot in combination with multiple vertical lines. However, I'm not sure how to draw those straight lines. Any ideas?

PS: This is really an awesome project.

[2021-05-20 00:49] piccolomo commented on #21
Hi cassiobattista,

thanks for your feedback Try using the `fillx = True` option inside the plotting function you are using.

From documentation:
 - `fillx = True` fills the area between the data and the x axis with data points (if used inside scatter) or line points (if used inside plot). For example: `plt.plot(data, fillx = True`). By default `fillx = False`
 - `filly = True` fills the area betw

[2021-05-20 11:10] cassiobatista commented on #21
That worked like a charm @piccolomo, thank you so much! It looks more a bar chart than a stem plot, but that's fine by me.

I'm dropping a screenshot and a code snippet for reference :)

![Screenshot from 2021-05-20 08-04-38](https://user-images.githubusercontent.com/2287025/118968379-3d28db80-b942-11eb-8560-851fcf6cce24.png)

[code]

[2021-05-20 11:10] #21 closed

[2021-05-27 08:37] Chaos99 commented on #19
Based on your screenshot, you tried this in the Windows Command Prompt (cmd.exe). ([Command Prompt on Wikipedia](https://en.wikipedia.org/wiki/Cmd.exe))
I was using the Windows PowerShell (powershell.exe) ([PowerShell on Wikipedia](https://en.wikipedia.org/wiki/PowerShell))

[2021-05-27 14:50] piccolomo commented on #19
You are right, it is awhile that i don't use windows. I have just tried powershell with the following result:

![image](https://user-images.githubusercontent.com/56689657/119846952-e0618e00-bf0a-11eb-999d-facadfbb2b60.png)

Using plotext  2.3.1 and Python 3.9.0 on Windows 10 Home and PowerShell 5.1.19041.906

Try using Python 3.9? If the problem persists try using the function plt.nocolor()

If yo

[2021-05-28 10:06] Sauci commented on #16
@piccolomo any news on this? I modified my local version to add the feature, but if it is already done in your local version, I wont create a pull request... Thank you in advance for your feedback

[2021-05-29 19:23] piccolomo commented on #16
Hi @Sauci

thanks for your code, which I will definitively look into and possibly integrate in the next version. I am currently very busy applying many other due changes, like subplots, log scale, double axis, date time support and others and it is going to take some time to arrive at next version, but i will definitely look at the code in more details and come back at you.

For now thanks and I w

[2021-06-05 01:50] piccolomo commented on #20
Hi @garid3000,

the new version (3.0.0) of plotext is just available now at [this link](https://pypi.org/project/plotext/). Among the many changes, there is the possibility of accessing the plot string. Here is an example:
[code]
Hope it help.
Savino

[2021-06-05 01:51] #20 closed

[2021-06-05 01:52] piccolomo commented on #19
Any updates? I will close the issue for now, but you can reopen it if needed.

Savino

[2021-06-05 01:52] #19 closed

[2021-06-05 01:57] piccolomo commented on #18
Hi @rlschuller,

the new version (3.0.0) of plotext is just available now at [this link](https://pypi.org/project/plotext/). Among the many changes, the new version solves the bug you kindly reported. The output of the second code you posted is now the expected one:
![image](https://user-images.githubusercontent.com/56689657/120876622-2f19c280-c5b2-11eb-9ff1-fe126274c377.png)
Hope it help.
Savino

[2021-06-05 01:58] #18 closed

[2021-06-05 01:58] piccolomo commented on #16
Hi @Sauci ,

[2021-06-05 02:00] piccolomo commented on #16
Hi @Sauci,

the new version (3.0.0) of `plotext` is just available now at [this link](https://pypi.org/project/plotext/). Among the many changes, the [bar plot ](https://github.com/piccolomo/plotext#bar-plot) is now available.

Hope it help and thanks for help!
Savino

[2021-06-05 02:00] #16 closed

[2021-06-05 02:06] piccolomo commented on #13
Hi @Zaneo ,

the newest version (3.0.0) of `plotext` is now available at [this link](https://pypi.org/project/plotext/).

Among the many changes, there is the possibility of plotting [multiple plots](https://github.com/piccolomo/plotext#subplots) in a grid.

Hope it help and thanks for help!
Savino

[2021-06-05 02:06] #13 closed

[2021-06-05 02:08] piccolomo commented on #12
Hi @Zaneo ,

the new version (3.0.0) of `plotext` is just available now at [this link](https://pypi.org/project/plotext/).

Among the many changes, you can also independently [plot on both y axes](https://github.com/piccolomo/plotext#doubley) (the left and the right one).

Hope it help and thanks for help!
Savino

[2021-06-05 02:08] #12 closed

[2021-06-05 02:10] piccolomo commented on #7
Hi @matthewhanson and @geoffrey-eisenbarth,

the newest version (3.0.0) of `plotext` is now available at [this link](https://pypi.org/project/plotext/).

Among the many changes, one can now also [plot dates and times](https://github.com/piccolomo/plotext#date-time-plot).

Hope it help and thanks for help!
Savino

[2021-06-05 02:10] #7 closed

[2021-06-05 02:12] piccolomo commented on #21
Hi @cassiobatista ,

the newest version (3.0.0) of `plotext` is now available at [this link](https://pypi.org/project/plotext/).

Among the many changes, the [stem plot ](https://github.com/piccolomo/plotext#bar-plot) is also available.

Hope it help and thanks for help!
Savino

[2021-06-06 06:20] garid3000 commented on #20
Thank you very much, works great !!!

[2021-06-11 17:16] nicrip opened #23 "plotsize() doesn't resize plot when making terminal larger"
Hi - first of all, this terminal plotter is awesome! Thanks for the effort!

I noticed that with a single plot, the plot will only resize if the terminal is made smaller - if the terminal is made larger, the plot doesn't become larger with it.

I think the issue with your latest refactor is that you're missing a couple of lines in plotsize():

[code]

there maybe should be the two additional lines

[2021-06-12 14:58] piccolomo commented on #23
Hi @nicrip ,

thanks a lot for the message and issue report.

Indeed there was a bug, which was due to the fact that the plot size adapts to the terminal only if the values of `subplot.width` and `height` are None. Once the plot is done though, those value are fixed and the plot size no longer adapts. I modified the `plotsize()` function so that it now should work.

(`_fig.width`  and  `_fig.heigh

[2021-06-12 14:59] #23 closed

[2021-06-19 21:42] z3ch5 opened #24 "(Feature) specific colors if the values meet a specific condition ( bigger or smaller than..etc) ?"
I am wondering if there is a way to print some points with specific colors ( like if the points of (y) value are bigger than a defined number)

[2021-06-19 21:59] piccolomo commented on #24
Hi z3ch5,

would this example fit:

[2021-06-19 22:00] piccolomo commented on #24
Sorry I closed by mistake, I will answer properly asap.

[2021-06-20 17:14] piccolomo commented on #24
Hi @z3ch5 ,

about this example?

[code]

![image](https://user-images.githubusercontent.com/56689657/122682772-b0e92d00-d1fb-11eb-9b21-bd23d23fda55.png)

would this fit your necessity?

Thanks,
Savino

[2021-06-20 18:35] z3ch5 commented on #24
yes, it does !, thanks

[2021-06-20 19:57] #24 closed

[2021-06-20 21:35] whisller opened #26 "Integration with "rich""
Was wondering how easy/hard would be to integrate your project with [rich](https://github.com/willmcgugan/rich) : >

[2021-06-21 13:40] piccolomo commented on #26
Hi @whisller,

I have an easy reply: I have no idea.

I was not aware of that package, which seems really cool anyway.

I am not even sure if it is a good idea and how to do it.

If there are many request or someone is interesting in integrating it, why not? :-)

Is there any reason in particular you think it would be a good idea?

Thanks for your message,
Savino

[2021-06-21 15:26] whisller commented on #26
So generally I am super interested in integrating those two libraries. For two reasons, `rich` is really good when it comes to prepare dashboards in CLI in python, and `plotext` is nicest plotting library I found for python so far, which works natively in CLI rather than generates images.

Problem that I noticed when tried to make those two to work sadly is...it doesn't work ;) I believe there wou

[2021-06-22 12:44] piccolomo commented on #26
I would be interested in helping, if it won't be a massive work. So ye I am available. but keep in mind i know nothing about the internal architecture of rich.

For now one thing that could help if you haven't seen already is the get_canvas() function in my library, which outputs the plot in string form and could help inserting it into a rich wrapper.

Let me know, please, or write me privately at

[2021-06-25 07:33] willmcgugan commented on #26
Author of Rich here. I think this is a fantastic idea, and I would be happy to help!

[2021-06-25 09:50] whisller commented on #26
@piccolomo @willmcgugan awesome! I think this integration would benefit greatly both sides :)

I will try to find some time to sit and investigate, but realistically speaking it will not be earlier than after few weeks from now (most likely I will be with my partner on labour ward in next few hours/days ;)).

[2021-06-25 09:52] willmcgugan commented on #26
That was one of the few excuses I would accept. ;-) Congratulations in advance, @whisller !

[2021-06-25 11:13] piccolomo commented on #26
@willmcgugan,

let's do it then! [obviously after @whisller fatherhood priorities :-) ]

[2021-06-30 04:19] whisller commented on #26
@willmcgugan @piccolomo I have first "working" draft, at least plot is being semi displayed ;)
[code]

Few questions/obstacles that come to my mind:
- Multiple plots within same dashboard. Seems that plotext uses few global variables.
- Accessing width/height of Panel/Window from within rich to set it to plotex before rendering. I assume that might not be possible and we would need some monkey pat

[2021-07-03 15:54] ashthespy commented on #19
Thanks for this library!
I seem to be having some issues getting lines to show (vs dots) could it be related to Windows + Powershell as well?
Here are some details
[code]
![image](https://user-images.githubusercontent.com/16233271/124359813-d7a95980-dc26-11eb-8f0a-671e2711f4b0.png)

[code]
![image](https://user-images.githubusercontent.com/16233271/124359881-1fc87c00-dc27-11eb-8eaf-6231f7b02978.pn

[2021-07-03 18:08] rbanffy opened #29 "Use Unicode 13 2x3 mosaics"
Unicode version 13 introduced many glyphs used in older computers and terminals. Among those are the 2x3 mosaics used in Teletext terminals and the TRS-80 computers. Their use would represent a 50% increase of vertical resolution on terminals that support the character set.

[2021-07-03 21:50] whisller commented on #26
@piccolomo it seems that design of plotext was not intended to display multiple charts on single window. E.g. shared access to `_fig`. Is it something you would have a time to change?

[2021-07-04 12:55] piccolomo commented on #26
Hi @whisller, @willmcgugan

thanks for the message. I have been looking at your example and I have these considerations:

 - It will be ideal if one could get the exact size of the layout one wants to plot in. In this way one could use the entire selected layout without empty spaces and the plot could dynamically adapt to the size of the layout. I tried to find a way to get the exact size of any g

[2021-07-04 13:05] piccolomo commented on #29
Hi @rbanffy ,

thank for the message. If you mean these characters:
▘ ▖ ▗ ▝  ▌ ▐ ▄ ▀ ▚ ▞ ▛ ▙ ▟ ▜ █
they are already included for higher resolution, but if I didn't understand correctly please let me know.

all the best
Savino

[2021-07-04 14:23] willmcgugan commented on #26
With regards to coloring, you *could* modify your code to generate Segment instances rather than string with ansi codes, but that would be a lot of work and you wouldn't want to break the non-Rich functionality.

There is a non-documented [AnsiDecoder](https://github.com/willmcgugan/rich/blob/master/rich/ansi.py) class that may help. If you construct an AnsiDecoder you can feed it strings with ans

[2021-07-04 14:47] piccolomo commented on #26
Hi @willmcgugan ,

thanks for reply. any idea on how to get any layout size (width and height)?

[2021-07-04 14:53] willmcgugan commented on #26
You may be better off with a Table there. Tables will adapt to their contents, so all you would need is that `__rich_measure__` method. You can use `Table.grid` to create a table with no divider lines...

[2021-07-04 15:12] rbanffy commented on #29
These look like the 2x2 mosaics that, I think, came from the DEC terminals.
The 2x3's would be these 🬀🬁🬅 🬊 🬍 🬒 🬗 🬛 (and others). You'll find
more details in https://en.wikipedia.org/wiki/Symbols_for_Legacy_Computing

On Sun, Jul 4, 2021 at 2:05 PM piccolomo ***@***.***> wrote:

--
Ricardo Bánffy
http://about.me/rbanffy

[2021-07-04 17:46] piccolomo commented on #26
Hi All,

I have successfully plotted in colors using a `layout` as in this example:

[code]
which produces the following output:
![image](https://user-images.githubusercontent.com/56689657/124394548-3989c200-dd00-11eb-82b5-59dd109f9c30.png)

- The only minor issue I may need to resolve in the next version is to get the figure size without the convoluted method of importing `_fig`. Other then that

[2021-07-04 22:47] piccolomo commented on #29
Thanks  @rbanffy,

but they seem to be not legible on browser and also on notepad. Do you have any suggestion on how to read them?

[2021-07-05 00:09] whisller commented on #26
@piccolomo nice one!
So seems that we're getting there :)

Yeah, that was my worry as well. @willmcgugan are there any methods that integration can implement to be called during render/post render that could be used to set width/height of plotext instance? Something that could allow dynamically change the size of it when window is resized.

It seems that if we would tackle things from below list w

[2021-07-06 11:03] rbanffy commented on #29
Both Gnome Terminal (VTE-based) and Konsole (KTermWidget-based) render
these symbols without font support. Unifont 13.0.02 and later also supports
them. My machine has my terminal font (https://github.com/rbanffy/3270font)
installed, so, if no other font has the glyph, it uses that.

On Sun, Jul 4, 2021 at 11:47 PM piccolomo ***@***.***> wrote:

--
Ricardo Bánffy
http://about.me/rbanffy

[2021-07-06 19:46] henryiii commented on #26
Would this also integrate then with [textual](https://github.com/willmcgugan/textual), which would be amazing?

[2021-07-07 06:30] willmcgugan commented on #26
@henryiii It would! Which is why I'm excited about this project.

@piccolomo @whisller You would need to add a `__rich_measure__` method. This returns a `Measurement` object with two values; the maximum and minimum width of the renderable. In the case of a plot I guess you could pick a minimum width that could render anything useful, I'd guess 20 characters. For the maximum it would be the console

[2021-07-08 11:53] piccolomo commented on #26
@willmcgugan I tried without success to follow your last recommendation. I actually think it may not be possible to let the plot dimension adapt to the layout (while the opposite is possible as I have shown) because the layout dimension seem to be calculated only when already printed or at least after the layout receives an update with some content (with a given dimension like a `plotext` plot).

[2021-07-08 12:01] piccolomo commented on #29
Hi @rbanffy ,

I am not totally following:
 - do you recommend install `3270font` in order to render those characters?
 - will it work only in Linux also after this installation?
 - will your patch allow to use those characters in other systems other then Linux?
 - could i kindly ask you a python test code to print any of those symbols?

thanks for help!

[2021-07-08 13:09] willmcgugan commented on #26
What I was think was is that you render the plot inside `__rich_console__`  with a width of `options.max_width` and a height of `options.height`. i.e. something like this:

[code]

That way it would be the Layout class that specifies the size of the plot, and it would adapt with the size of the terminal.

That shouldn't be required. Do you have an exception or error message ?

[2021-07-08 17:36] piccolomo commented on #26
Hi @willmcgugan, I will try to implement your suggestion.

In the meantime I am trying to change the `Layout` class, but I receive an error. Here is the code:
[code]
and the error:
[code]

Any help?
thanks

[2021-07-08 18:35] willmcgugan commented on #26
I think the exception may be swallowed by the stdout / stderr capturing there.

Your renderable is broken. You forgot to pass the console, and options args through, and you need to return the result.

Easy fix:

[code]

[2021-07-08 19:38] piccolomo commented on #26
And Ta Daaa:

[code]
with result:
![image](https://user-images.githubusercontent.com/56689657/124979794-d4054080-e033-11eb-877e-4361d5ca1e87.png)

In this example is the `plotext` plot that adapts to the size of the layout (and not vice-versa like in previous code). If the Panel around the plot is not wanted, just comment the line `mix = Panel(mix)`.

Indeed modifying `__rich_console__` method of

[2021-07-08 19:54] piccolomo commented on #26
I close the issue, but feel free to reopen it, in case there were errors in the code.
All the best

[2021-07-08 19:54] #26 closed

[2021-07-08 23:13] rbanffy commented on #29
3270font is one source (I like it because I made it). GNU Unifont is another possible source. I'm surprised Big Sur doesn't have these glyphs as standard. I expect Montecito to have them.

No. VTE and QTermWidget-based terminals don't need a font to draw the glyphs. Macs, however, do need a font such as Unifont to display them in Terminal.app. I'm not sure if iTerm2 needs it.

It would only work w

[2021-07-09 10:11] jeppenodgaard opened #30 "0 in y-values in bar chart"
This works as expected (all x values are show even if the y-value is 0):
[code]

If there is a 0 value at the beginning of the array it causes IndexError:
[code]

If there is a 0 value at the end of the array it is not shown in the bar chart:
[code]

[2021-07-15 16:16] piccolomo commented on #30
Good points. Holiday time... I will get back

[2021-07-20 14:58] piccolomo commented on #30
Hi @jeppenodgaard,

thanks for message, you raised good points.

As of now the bar plot doesn't show any bar if the bar value is 0 so:

- if 0 is on the right side, naturally it won't be shown.
- If 0 is on the left I suppose the error come from the fact that the first bar is not plotted and the second bar searched for the settings of the previous bar and cannot find it.

not sure how to solve thi

[2021-07-20 15:00] piccolomo commented on #29
hi @rbanffy ,

if I am not bothering, any update on any initial script (which may include your package) which could solve this?

all the best

[2021-07-21 13:18] piccolomo commented on #26
Hi @whisller, do you think there are other related issues to solve before closing?

[2021-07-22 20:35] henryiii opened #32 "high resolution marker not working on macOS?"
My plots are all showing up with `s`'s on macOS rather than the small character, which I'm sure the terminal supprorts. I'm not sure why, looking into the code, as the platform should be set to "linux" as far as I can tell. However, I noticed a few things that made it hard to parse and debug the code:

* The platform should be called "unix", not "linux", if it encompasses both (it should)
* There

[2021-07-25 13:24] piccolomo commented on #32
Hi @henryiii,

thanks for you message. Le me answer each point:

- I will follow this recommendation for next version, thanks. I have no way to test the package on a MacOS. I will update when next version is ready: perhaps you could help me test it?
- I may call the `plot.py` file something like `definitions.py` or `core.py`
- Any recommendation on what to use instead of `import *`?
- How would yo

[2021-07-26 19:01] henryiii commented on #32
Hi @piccolomo,

* I am happy to test, let me know when. :) I might be able to help off and on, too, let me know if there's something you want me to try setting up.
* `core.py` sounds good to me, but `definitions` is better than `plot` when you have a `plot` function. :)
* I'd import explicitly. Then someone reading your file knows exactly where each thing comes from. It's a little more trouble to

[2021-07-26 22:31] rbanffy commented on #29
Didn't have much time to work on this. :-/

[2021-07-27 11:06] piccolomo commented on #29
Ok thanks, if you do please let me know. I will try to see what I can do, any recommendation?

[2021-07-27 12:57] rbanffy commented on #29
I haven't looked too much into the code, but I think the trickiest
part is that you can have foreground/background attribute interference
when lines cross. You already have that with 2x2 mosaics, but 2x3 will
make it a bit worse (with up to 6 different colors in a single block)

On Tue, Jul 27, 2021 at 12:06 PM piccolomo ***@***.***> wrote:

--
Ricardo Bánffy
http://about.me/rbanffy

[2021-07-28 15:19] gregwa1953 opened #33 "Force terminal size"
First, I love the program!

I have been able to use plotext to plot to a tkinter text widget.  It works well, but is totally dependent on the terminal size that the user happens to be using at runtime.

Would it be possible to add a flag to ignore the actual terminal size and force it to, let's say 80x24, so that when the plot is generated (hidden and saved to file) can be sent directly to the tki

[2021-07-28 21:46] philipGaudreau opened #34 "Crash after trying to scatter plot"
[code]

content of `subplot`

[code]

[2021-07-29 09:08] piccolomo commented on #34
Hi @philipGaudreau,

I just had a very quick check and it seems to me that the `y` data is not properly set: try use only `list` data no `numpy` array and also it seems that the each `x` and `y `set of data doesn't have the same dimension. Could you have a quick check?

thanks and good luck

[2021-07-29 11:35] piccolomo commented on #29
I think I would ignore that problem as I already did. most important thing would be to somehow display those characters in a standard terminal. Or even to know their ascii code. Di you ever manage to print those character or even just one in a terminal.
If so could you send a 'print(code)' snippet?

[2021-07-30 13:43] philipGaudreau commented on #34
Ok, I will come back with that when I have the chance, but the thing that puzzled me is that i did a `X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)`, it worked, but if I change the random state to 2, then it gives the error I posted.

[2021-07-30 13:50] philipGaudreau commented on #34
So, for `random_state=1` I have:
X_train -> 80 rows;
X_test -> 20 rows;
y_train -> 80 rows;
y_test -> 20 rows.

And for `random_state=2`, the numbers are the same.

[2021-07-30 14:36] piccolomo commented on #34
no idea what the function `train_test_split` is or does... frankly don't want to know, I would rather you check if the data you provide to the scattr funtion is in the right format

[2021-07-30 15:27] philipGaudreau commented on #34
Hi,

Thanks for the feedback. I checked, and yes, it is due to _numpy.array_. If I add a check in `plotext/utility.py`, then everything is fine.

[code]
Indeed, I think I will just format my numbers so that they are scalars. I'm still unsure why, if I change values, the behaviour changes, but I will not investigate further, I'll take for granted that it is linked to _numpy_.
Sorry for the inconven

[2021-07-30 15:27] #34 closed

[2021-08-06 17:15] piccolomo commented on #33
Hi @gregwa1953 ,

Thanks for the idea and I will definitively work on that. I was thinking of a function as `plt.forcesize()` or an option of the `plt.figsize() ` function.

I will keep updated.

All the best
Savino

[2021-08-06 18:09] gregwa1953 commented on #33
I really appreciate it.
I'll try to get an image and some sample code up in the next day or two.

Thank you again for the help and the great project.

[2021-08-06 19:03] gregwa1953 commented on #33
I've updated a demo that I created using PAGE, a GUI designer for Python using Tkinter.

![Hays County Texas Covid-19 Confirmed Cases 6-27-2021 to 7-27-2021_001](https://user-images.githubusercontent.com/18106417/128558853-54cb35ac-51d1-49be-ac0d-c75669c10b96.png)

I've included all three files generated by PAGE (The actual tcl file from the designer and the two Python files that age generated by

[2021-08-07 10:24] evan0greenup opened #35 "feature request - function that returns the string version of the plot"
It would be nice to return the string value of the equivalent terminal plot.

[2021-08-07 21:17] piccolomo commented on #35
Hi @evan0greenup,

thanks for feedback. Try the function `get_canvas()` which should do just that: it returns the plots as a string. If the color codes are not desired use also the function `colorless()` (in short `cls()`)

[2021-08-09 09:27] rbanffy commented on #29
There is some additional information on the symbols at https://en.wikipedia.org/wiki/Symbols_for_Legacy_Computing

[2021-08-10 17:33] Dev-iL opened #36 "OSError: [Errno 25] Inappropriate ioctl for device"
I ran into the exact same issue described in [this question](https://stackoverflow.com/q/56817448/3372061). **TL;DR** - when running this library in PyCharm, the error in the subject is thrown by `utility.py>terminal_size()>os.get_terminal_size()`.

One of the fixes proposed in the Q&A worked for me, so I suggest replacing

[code]

Or if you want to keep the existing code and provide a fallback,
[

[2021-08-11 05:33] ethack opened #37 "Exception with yscale set to log"
I'm getting the following error message.

[code]
Here is my version of python and plotext.
[code]

Here is the code to reproduce.
[code]
Googling suggests that `math domain error` with a log means the value is 0 or negative. None of my original values are 0 or negative. But what's strange is that if I print out the value of `data` in the `plotext/utility.py:log(data)` function I get `[2910, 2910,

[2021-08-11 05:45] ethack commented on #37
Just saw this under "Future Plans" in the readme.

So I'm thinking I'm trying to use a feature that's not implemented yet. Then can this count as a feature request instead of a bug report? :smile:

[2021-08-22 17:52] piccolomo commented on #34
Hi @philipGaudreau,

thanks to you for the report and for the compliment, happy to know that the library is appreciated :-)

All the best,
Savino

[2021-08-23 10:22] jentrialgo opened #38 "Incompatiblity with the dash plugin of pytest"
First of all, thank you very much for the package!

I've found a little issue: if I try to use [the dash package](https://pypi.org/project/dash/) and plotext at the same time, I get import errors when I execute pytest. I think it  is related to [this problem with the dash plugin for pytest](https://github.com/pytest-dev/pytest/discussions/8270).

A straightforward solution is deleting [this line f

[2021-08-30 18:17] cjmcgraw opened #39 "Issue with subplots? Maybe release hasn't been pushed in a while?"
@piccolomo hey there. I am using your library in my project over at: https://github.com/cjmcgraw/docker-load-graph

Now there is clearly a problem on initial pip install. Specifically check out the following:

![image](https://user-images.githubusercontent.com/4107771/131385469-5d08ca29-5bbd-4a00-bfca-1627a3a49228.png)

The first command shows my application throwing an exception for python3.8 at

[2021-08-30 18:19] cjmcgraw commented on #39
Specifically this issue only occurs when I have subplots that are missing data. Eventually they are filled in, but not initially.

Changing this "returnsa" to "return" completely fixes the problem on my local machine

[2021-09-01 10:24] piccolomo commented on #39
Hi @cjmcgraw,

thanks a lot for taking the time to report this issue. The pip version of the package needs to be updated but the github version was corrected thanks to a pull request (Fix misspelling that crashes when x is not available. #25 by @whisller ).

I am in the process to rewrite the code from top to bottom which is going to take some time.

I appreciate your encouragement and the project

[2021-09-01 14:00] piccolomo commented on #38
Hi @jentrialgo,

thanks a lot for the issue report and glad you like the package.

It seems a relevant matter. I am not an expert Pythoninst but I understand that I may need to create a testing function which doesn't conflict with  pytest for next version (it is going to take a few months to rewrite the code and add functionalities).

Anyway I have installed pytest and then imported it after impor

[2021-09-01 16:23] 4aHxKzD commented on #36
Tried this fix and it worked. Maybe you should open a Pull Request @Dev-iL

[2021-09-01 16:34] jentrialgo commented on #38
Hi,

I can reproduce the issue with these commands on a Ubuntu machine:

    mkdir issue
    cd issue
    python -m venv env
    source env/bin/activate
    pip install plotext
    pip install dash
    pip install pytest
    echo "import plotext as plt" > program.py
    pytest program.py

However, I've tried to use the corresponding commands in Windows and the issue doesn't appear, I don't know wh

[2021-09-02 11:58] piccolomo commented on #36
Hi @Dev-iL

thanks for the issue report and sorry for late reply! Your suggestion was not evil at all (considering your name: that's just a silly joke btw!), I will definitively  work on it for next version.

In the meantime I wouldn't mind a pull request.

[2021-09-05 18:44] Dev-iL commented on #36
@piccolomo Which of the solutions do you prefer?

[2021-09-07 19:22] clfriede opened #41 "Bar plot produces error if first value is zero."
If you try to produce a bar plot with a value of zero in index 0 of the values list, the plot will fail with an error.  Here is an example:

[code]
If you remove the first element of each list above though, every thing works ok.

[code]

The bar plot should be able to produce a plot when the first value in the list of values is zero.  If you need any additional information from me regarding this i

[2021-09-07 19:27] clfriede commented on #41
This is the same as issue #30.  Closing.

[2021-09-07 19:27] #41 closed

[2021-09-07 19:54] joseanor commented on #30
@piccolomo  Is there a particular reason you are hard ignoring 0 based values?

https://github.com/piccolomo/plotext/blob/master/plotext/plot.py#L963

Removing this line of code resolves this reported issue. I see no ill side-effects from removing. Can push upstream at some point as well.

[2021-09-09 10:20] piccolomo commented on #30
Hi @joseanor ,

I think the issue was that If I remove that line, a 0 bar will still appear as bar with single character height, and I preferred the bar not to be shown at all (like with `matplotlib`).

I am in the process of rewriting the code (it is gonna take some time): Which solution would you prefer? Would it still be ok for the bar to be shown? I could think of another solution as well.

Th

[2021-09-09 11:44] piccolomo commented on #36
Probably second. Your choice. I will work on it too for next version.

Thanks

[2021-09-09 16:40] joseanor commented on #30
@piccolomo  I think it is better to have a small bar show up as opposed to breaking the rendering.

[2021-09-09 17:42] clfriede commented on #30
@piccolomo I agree with Jordan.  A thin line is better than it crashing.  As a feature, it may be worth printing the value of the bar centered on the top of the bar.  For example if the bar had 1000, the top would be something like ------1000------.   Same would go for 0.  In that way, you could tell what the actual value was for the bar.

Thanks.

Cliff

From: Jordan Seanor ***@***.***>
Sent: Thu

[2021-09-16 11:09] huaiweicheng opened #42 "weired tick labels"
I find it's very weired that the ticks of same value differs in the bar plot.
see 7.0-6.0, which is greater than 6.0-4.0 and 4.0-2.0
![image](https://user-images.githubusercontent.com/4011117/133601653-5b71c5aa-9d20-4b85-b9fc-ab87433ac5f9.png)

How is that happened?

[2021-09-18 19:50] piccolomo commented on #42
Hi @huaiweicheng,

thanks for reporting this. Actually I think this is normal as the ticks labels are a rounded version of the actual ticks with the minimum amount of precision necessary to distinguish them, in order to have more space to write them.

[2021-11-01 09:37] nj-vs-vh opened #45 "subplots broken"
Currently subplots functionality seems broken, even [`README` example](https://github.com/piccolomo/plotext#multiplie-subplots) do not work. Specifically, only first plot appears.

[2021-11-01 10:17] nj-vs-vh commented on #45
Investigated a bit: seems like this behaviour has to do with second and subsequent plots being assigned height value of 0 because `height_max` is limited by a terminal size. I personally find this very counter intuitive because terminals inherently allow scrolling and it seems very logical for figure not to be limited by a terminal size, at least in height!

[2021-11-03 09:04] asartori86 opened #47 "read from stdin"
Hi,
Thanks for this great tool. I think that plotext could shine even more by quickly plotting data from files and stdin. I wrote a small python script that allows me to plot from a pipe

[code]

@piccolomo, if you think this could be a good idea, I can provide a patch. If so, we should agree on the interface. I was thinking to ship an executable `plotext` that can quickly plot data from files and

[2021-11-03 15:07] vincenzomanzoni commented on #36
@piccolomo : same things happens if you try to run plotext in Google Colab. Here the code to reproduce the issue:

`!pip install plotext`

[code]

[2021-11-03 16:46] jtplaarj opened #48 "Stacked and multiple bars"
Hi,

Thanks for this library. I need to draw stacked and multiple bars, for that I have written some wrappers around your library:

For multiple bars:
[code]
The cities bar example ends being:

[code]

![multiple](https://user-images.githubusercontent.com/22937107/140104677-0944613b-9361-41f6-afac-5c5f0a9a3cd0.png)

For stacked bars:
[code]

An example of the cities in stacked mode is:

[code]

![

[2021-11-03 16:56] #45 closed

[2021-11-03 19:15] piccolomo commented on #47
Hi @asartori86 ,

that sounds like a cool idea. Feel free to contribute. New version is coming relatively soon, perhaps I could incorporate your changes there as well.

[2021-11-03 19:16] piccolomo commented on #48
Great,

definitively going to look deeper into this! Thanks a lot...

[2021-11-03 22:56] poposhka opened #49 "colorless() doesn't seem to persist"
a quick test for continuous updates below.

i must remove the comment in the for loop to allow the plot to remain colorless, following the "Streaming Data" example.

[code]

[2021-11-05 11:11] jtplaarj opened #50 "plotsize in hide=True mode"
The resulting plot is the minimum of the current terminal and the defined `plotsize` regardless of the status of `hide`. I think that it would make more sense to use only plotsize when `hide=True`.

[2021-11-12 07:14] piccolomo commented on #19
Hi @ashthespy, it is by chance that I noticed that I haven't replied to you old post.

Did the issue solve itself? I will publish a new version soon, perhaps you may want to try that as well. Feel free to re open the issue if necessary.

[2021-11-12 08:36] piccolomo commented on #45
Hi @nj-vs-vh,

the new 4.0.0 version of `plotext` is available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/).

The issue you mention, should be resolved in this version, but please let us know otherwise and feel free to reopen the issue.

Savino

[2021-11-12 08:40] piccolomo commented on #29
Dear @rbanffy,

the new 4.0.0 version of `plotext` is available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/).

This version implements the unicode 3 x 2 mosaics that you recommended. Thanks a lot for the suggestion: I have you credited for it.

Let me know if you like it,
Savino

[2021-11-12 08:43] piccolomo commented on #30
Hi @jeppenodgaard, @joseanor  and @clfriede.

the new 4.0.0 version of `plotext` is now available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/). :-)

This version should resolve this issue, but let us know otherwise.

Thanks and all the best,
Savino

[2021-11-12 08:43] #30 closed

[2021-11-12 08:44] #29 closed

[2021-11-12 08:53] piccolomo commented on #32
Hi @henryiii ,

the new 4.0.0 version of `plotext` is now available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/). :-)

I have tested it on Linux and Windows, but not on Mac OS. It would be kind of you, if you could run a test and give a report.

I have also implemented your other recommendations, including the one regarding `unittest`: the test is

[2021-11-12 08:59] piccolomo commented on #33
Hi @gregwa1953  ,

the new 4.0.0 version of `plotext` is now available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/). :-)

I have credited you for the idea regarding forcing the plot size beyond the terminal: in this version the function that does it is actually `plt.limit_size()`. Let me know if you like it or what you think of it! :+1:

Regarding

[2021-11-12 09:01] piccolomo commented on #35
Hi @evan0greenup   ,

the new 4.0.0 version of `plotext` is now available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/). :-)

In it, the function that returns the plot canvas (without printing it) is called `plt.build()`. Let me know if you like it or what you think.

Thanks and all the best,
Savino

[2021-11-12 09:01] #33 closed

[2021-11-12 09:01] #35 closed

[2021-11-12 09:04] piccolomo commented on #36
Hi @Dev-iL and @vincenzomanzoni   ,

the new 4.0.0 version of `plotext` is now available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/). :-)

I have update the definition of the function `plt.terminal_size() `in the direction of your suggestion. I assume that this solves the issue, but feel free to reopen it, or give any kind of feedback.

Thanks an

[2021-11-12 09:04] #36 closed

[2021-11-12 09:07] piccolomo commented on #37
Hi @ethack

the new 4.0.0 version of `plotext` is now available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/). :-)

The new version should solve the issue, you kindly reported. The bar plot has a parameter called `minimum` which can be used to alter the minimum level the bars reach. By default now it doesn't reach 0 and the log scale on the y axis

[2021-11-12 09:08] #37 closed

[2021-11-12 09:10] piccolomo commented on #38
Hi @jentrialgo

the new 4.0.0 version of `plotext` is now available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/). :-)

The new version should solve the issue, you kindly reported, by implementing the unittest environment for testing.
The file is still called `test.py` (I forgot to change its name).

Could you kindly let me know, if the issue is so

[2021-11-12 09:11] #38 closed

[2021-11-12 09:12] piccolomo commented on #39
Hi @cjmcgraw,

Hi @ethack

the new 4.0.0 version of `plotext` is now available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/). :-)

The new version should solve the issue, you kindly reported.

Please let me know i the issue persists or any other idea and feedback.

Thanks and all the best,
Savino

[2021-11-12 09:12] #39 closed

[2021-11-12 09:14] piccolomo commented on #42
Hi @huaiweicheng,

the new 4.0.0 version of `plotext` is now available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/). :-)

The new version should solve the issue, by adding an extra digit to the numerical ticks.

Please let me know i the issue persists and feel free to give any other idea or feedback.

Thanks and all the best,
Savino

[2021-11-12 09:14] #42 closed

[2021-11-12 09:17] piccolomo commented on #47
Ciao @asartori86 ,

the new 4.0.0 version of `plotext` is now available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/). :-) it contains many new functions: new bar plots, matrix and image plots.

As I suspected though, your latest pull requested got removed, so you may need to send a new one.

Your command line tool is greatly appreciated and I shou

[2021-11-12 09:20] piccolomo commented on #48
Dear @jtplaarj,

Hi @ethack

the new 4.0.0 version of `plotext` is now available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/). :-)

It includes the great features that you so kindly proposed and I have credit you for it. :+1:

The functions are called `plt.multiple_bar()` and `plt.stacked_bar()`.

Please let me know if my rendition of your ideas m

[2021-11-12 09:21] #48 closed

[2021-11-12 09:29] piccolomo commented on #49
Hi @poposhka,

thanks for the issue report. The new 4.0.0 version of `plotext` is now available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/). :-)

This version doesn't show the problem you kindly reported. I have tested it on this code

[code]

Thanks and let us know if the issue persists, by reopening it or by giving any other related opinion.

[2021-11-12 09:29] #49 closed

[2021-11-12 09:31] piccolomo commented on #50
Hi @jtplaarj ,

the new 4.0.0 version of `plotext` is now available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/), which I believe solves the issue.

Feel free to reopen it if I am mistaken. Or give any other idea and feedback.

Thanks for the help and issue report.

All the best,
Savino.

[2021-11-12 09:31] #50 closed

[2021-11-12 09:46] jtplaarj opened #53 "Packages Dependencies Missing in Version 4.0.0"
When trying to execute the command line example (or any other code that worked in previous version) the following error appears:

[code]

It also happens with Python 3.9.

[2021-11-12 09:51] jtplaarj commented on #53
I think that there are a couple of requirements missing:

- Pillow
- numpy

[2021-11-12 09:56] jentrialgo commented on #38
Hi,

The issue with the name `test.py` seems to be solved. Thank you for being on top of this.

However, when I tried to reproduce the issue with the steps indicated in my previous message, I've found that `pip install plotext` didn't install all the required libraries: I had to manually install `Pillow` and `numpy`. Could this be another issue with plotext?

[2021-11-12 09:58] jentrialgo commented on #38
Ah, I've just seen that issue I mention has already been reported as issue #53.

[2021-11-12 09:58] jtplaarj commented on #50
I understand that the new way of doing this is by using `plt.build()`. In my case, I run the script from VisualStudioCode and depending on the size of the terminal window, the final image changes its size. So, in my case, the issue is not solved.

[2021-11-12 10:00] jtplaarj opened #54 "plotsize with plt.build()"
When using plt.build, the size is dependent on the terminal. It may be more useful to only depend on plt.plotsize.

[2021-11-12 16:04] piccolomo commented on #53
Do you have Pillow installed?

[2021-11-12 16:07] jtplaarj commented on #53
Once I install Pillow the problem is solved, but it is not automatically installed as a dependency by pip.

[2021-11-12 16:31] piccolomo commented on #53
Thanks, I added the following line to setup.py:

install_requires=['numpy', 'Pillow'],

and needs to modify the readme too. I will do it once enough changes accumulate. Thanks!!!

[2021-11-12 16:35] piccolomo commented on #54
It should be dependent on `plt.plotsize()` if the size is smaller then the terminal.

To allow bigger size use `plt.limit_size(False, False)` or simply `plt.limit_size(False)`. Its doc-string is available at `plt.doc.limit_size()`

Does it work?
Thanks, Savino

[2021-11-12 16:37] piccolomo commented on #38
Great, I will solve the dependency issue for next version small update.

Thanks for reporting anyway.

[2021-11-12 16:51] piccolomo commented on #50
Hi @jtplaarj, thanks for reply!

The plot size should be dependent on the terminal size.

To allow bigger size use `plt.limit_size(False, False)` or simply `plt.limit_size(False)`. Its doc-string is available at `plt.doc.limit_size()`

Does it work?
Thanks, Savino

[2021-11-12 18:50] crisluengo opened #55 "Recognizing macOS"
The code that determines the platform (in `_utility.platform.py`) doesn't work for macOS, and it doesn't work for most flavors of Unix:
[code]
On macOS, `platform` is `"darwin"`, which contains `"win"` and therefore gets labeled "windows".

I recommend rewriting that function to:
[code]

Since you only ever check this value for Windows, I see no benefit in making a distinction between flavors of U

[2021-11-12 19:39] jtplaarj commented on #50
It works perfectly, thanks!!!

[2021-11-12 19:40] jtplaarj commented on #54
It works perfectly. Thanks!!!!!

[2021-11-12 19:40] #54 closed

[2021-11-12 21:23] piccolomo commented on #55
Hi @crisluengo,
I will answer first to the erasing of github history issue as it seems more important for now. I am not an expert either in Python or GitHub and frankly I do not even know what a repo history is, let alone how to remove it.

This is the sequence of commands I use to publish on GitHib. It would be kind of you, if you helo me find the problem, that cause the history deletion.
Hi Albe

[2021-11-13 10:44] Dev-iL commented on #55
@piccolomo
History refers, in this case, to all commits contributed over the life of the project by the various authors. If you take a look at the commit graph of the repo, you'll only see the 4 commits by yourself (and none of the code contributed by others through the various PRs).

I think `git remote rm origin` + `git push -f origin master
` are the culprits. For typical use cases, `git add` `

[2021-11-13 14:36] crisluengo commented on #55
@piccolomo
A colleague of mine recently evaluated a bunch of git courses for our team members. He recommended this (free) course on Udacity:
https://www.udacity.com/course/version-control-with-git--ud123
He thought it would take maybe 10 hours to go all the way through it. If you take a bit of time every day, in no time you should understand one of the most important software development tools we

[2021-11-14 00:28] ethack commented on #55
I think it's worth trying to restore your commit history. It can help with tracking down bugs as well (contributors could use `git bisect` or `git blame` to narrow down the context of when the bug was introduced).

If possible, I'd suggest finding a friend or colleague who could help guide you through restoring the history. But I think this process should work assuming you have a copy of the pre-4

[2021-11-14 00:53] ethack opened #56 "Consider making Pillow and numpy optional dependencies"
I'd like to explain my use case:
- I have a project that I distribute as a docker container where one of my goals is a small total size.
- Pillow and numpy seem to only be needed for working with turning JPG images and the like into graphs. I won't be using this feature in my project. But overall the new features in v4.0 look fantastic!

Pillow and especially numpy are pretty heavy dependencies. N

[2021-11-14 04:17] Dev-iL commented on #55
@ethack If you look at the network (forks) chart, you'll see that this history deletion was done at multiple points in the history of the project, and so there are several disconnected master branches. I think the best way to reconstruct the history would be to cherry-pick commits in chronological order from various forks, resolve any conflicts and amend the time and author to the commits' origina

[2021-11-22 10:35] soraxas opened #60 "Better error message for figure max row/col"
I was confused by a strange index out of bound error
[code]
which, after some extensive investigation I realise it's due to
https://github.com/piccolomo/plotext/blob/db4bb95b1ac35e47684c6cb0bcf93d8916100fcd/plotext/_figure.py#L41

and the defaults is defined in
https://github.com/piccolomo/plotext/blob/db4bb95b1ac35e47684c6cb0bcf93d8916100fcd/plotext/_default.py#L6

---------------

I don't oppose

[2021-12-04 22:24] piccolomo commented on #60
Hi @soraxas, thanks for the report and sorry for late reply (I put aside this project for awhile after latest version update).

I understand the issue: It seems it requires the creation of custom exceptions, which I am not familiar with yet, therefore I will work on it for next version.

Also I like the idea of giving the user the ability to configure default values, something i will also think ab

[2021-12-04 22:26] piccolomo commented on #56
Hi @ethack, thanks for the report and sorry for late reply (I put aside this project for awhile after the latest version update).

I think this is a brilliant idea, and should definitively work on it for next version (If I manage to understand properly how it works).

I wlll update and thanks.

[2021-12-07 01:44] SoyBison opened #61 "Making a barplot where all entries have the same height results in a division by zero."
Minimal example included

[code]

[2021-12-08 21:09] jackmead515 commented on #47
@asartori86 if you already got started, I can help develop. Looking to have this functionality as well.

[2021-12-08 21:52] asartori86 commented on #47
@jackmead515, if you clone the repo and then, from the master branch
[code]
 you will have a nice plotext executable that reads both from stdin or file :)

@piccolomo, I see you didn't push to PyPI my patch yet

[2021-12-09 00:31] piccolomo commented on #47
Hi @asartori86, sorry for delay, I am taking a break after big effort of new version. I could upload it for you on PyPi. Do you have a terminal command I could runt o directly upload from GitHub to PyPi without making a mess? Thanks

[2021-12-09 10:27] asartori86 commented on #47
@piccolomo, you should simply pull the updated master in your local folder and then redo the steps to publish to PyPI.

[2021-12-10 08:17] piccolomo commented on #61
Hi @SoyBison,

thanks a lot for the issue report. I have sorted the issue in the new version 4.1.0 available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/).

Now
[code]
should outupt:
![image](https://user-images.githubusercontent.com/56689657/145540411-d79c23fc-d6fa-4616-ac0d-403a046ba11d.png)

Feel free to reopen it this or a new issue remains.

S

[2021-12-10 08:18] #61 closed

[2021-12-10 08:21] piccolomo commented on #60
Hi @soraxas ,

thanks a lot for the issue report. I have sorted the issue in the newly updated 4.1.0 version, available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/).

Now setting a higher number of `rows` or `cols` should throw and exemption.

Also in order to change the default value, it is probably easier to do it directly instead of creating a

[2021-12-10 08:22] #60 closed

[2021-12-10 08:25] piccolomo commented on #56
Hi @ethack  ,

thanks a lot for the issue report. I should have sorted this in the newly updated 4.1.0 version, available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/).

Now `numpy` is no longer necessary in all cases and it is possible to install `pillow` only if necessary using `pip install plotext[image]`

Please let me know if the issue persist

[2021-12-10 08:26] #56 closed

[2021-12-10 08:31] piccolomo commented on #55
Hi @crisluengo,

I reply now to the original issue report. I should have sorted this in the newly updated 4.1.0 version, available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/).

I have removed the `shell` function and updated the platform function to your version.

Please let me know if the issue persists.

Thanks also for the git hub guidance! P.

[2021-12-10 08:31] #55 closed

[2021-12-10 08:32] piccolomo commented on #53
Hi @jtplaarj   ,

thanks a lot for the issue report. I should have sorted this in the newly updated 4.1.0 version, available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/).

Thanks and all the best,
Savino.

[2021-12-10 08:32] #53 closed

[2021-12-10 08:35] piccolomo commented on #47
Hi @asartori86 @jackmead515   ,

thanks a lot for the issue report. I have published the new updates, which include the command tool, as version 4.1.0 on
 both [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/).

Hopefully the tool will improve even further for next version.

Thanks a lot for the contribution which is highly appreciated,
Savino.

[2021-12-10 08:36] #47 closed

[2021-12-10 08:37] piccolomo commented on #32
Hi @henryiii,

I close the issue for lack or reply, but feel free to reopen it if necessary.

Thanks for help and all the best,
Savino

P.S. newer 4.1.0 version of `plotext` is now available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/). :-)

[2021-12-10 08:37] #32 closed

[2021-12-10 09:07] soraxas commented on #60
Thanks for the kind reply and update on matter, appreciate it! Thanks for the amazing work

[2021-12-10 10:39] jtplaarj opened #62 "Strange Characters Appear when using XTerm and Konsole"
Comparing the output of versions 3.1.3 and 4.1.0, the latter has some strange extra chars:

![Screenshot_20211210_113122](https://user-images.githubusercontent.com/22937107/145560135-eb560da5-ba29-434c-b4d5-88ccb6a2228a.png)

It looks like 3.1.3 produces the correct output.

[2021-12-10 20:56] ethack commented on #56
That's fantastic news! Thank you so much!

[2021-12-11 02:12] piccolomo commented on #62
Hi @jtplaarj ,

thanks a lot for the issue report. I have seen this problem only on Windows, and I assume that's your platform. I created the package under Ubuntu and I use Windows to test it, but less often.

Any way I have tried to fix the problem with a new version (4.1.1). I have not upload it on PyPi, but only on GitHub. Do you have the possibility of kindly testing this new version and see i

[2021-12-11 08:36] jtplaarj commented on #62
Hi.

The screen shoot was on Debian. I do not have a Debian machine at hand, but I have tested it on Ubuntu 20.04.3 LTS and the results are similar. A screen shoot with 4.1.1 at the top, 4.1.0 bottom left and 3.1.3 bottom right:

![Screenshot_20211211_093222](https://user-images.githubusercontent.com/22937107/145670128-7a92da0b-3f31-4d4b-8fa7-6da1971449f9.png)

[2021-12-11 17:36] piccolomo commented on #62
Hi @jtplaarj ,

I really don't understand what could be the issue. I only noticed that version 3.1.3 defined the escape codes in a different way. I have now used this old definition and it still works, but it worked also with the new escape codes, so the only way is for you to test this new version 4.1.2.

Does it work?

Thanks

[2021-12-11 18:51] jtplaarj commented on #62
It is still happening.... both my two tests have been using konsole. This may be one different point between your setup and mine.
I have tried with xterm and the result is similar.

[2021-12-11 19:42] piccolomo commented on #62
Hi @jtplaarj ,

ok, i have tested xterm and you are right: it doesn't work.

I haven't investigated deeply the issue but from [here](https://unix.stackexchange.com/questions/280466/how-do-i-type-arbitrary-unicode-characters-in-xterm) it seems that xterm doesn't implement some unicode characters: in our case, the 3x2 mosaic markers like 🬤.

Anyway if you specify `marker = 'hd'` or `marker = 'sd' `i

[2021-12-11 19:49] piccolomo commented on #62
Btw, the standard Ubuntu terminal seems the best choise.

[2021-12-11 23:55] piccolomo commented on #20
Btw, now the function is called `plt.build()`

[2021-12-12 00:01] piccolomo commented on #29
Btw those markers are now called `hd` (2 x 2) and `fhd` (2 x 3): which stands for _high definition_ and _full high definition_.

[2021-12-12 20:00] randerzander commented on #26
Hello, I tried to use [your example](https://github.com/piccolomo/plotext/issues/26#issuecomment-876694313) with the latest version of plotext (4.1.2), but the get_canvas function appears to have removed (or renamed?):

[code]

[2021-12-13 02:31] piccolomo commented on #26
Hi @randerzander ,

thanks for message. Ye, you are right, I updated the previous code using the function `plt.build()`.

For next version, I was thinking of publishing a guide `.md` page with an updated code on how to integrate those two environments.

[2021-12-16 02:56] piccolomo commented on #62
any update?

[2021-12-16 07:20] jtplaarj commented on #62
Hi,

The solutions you mention ```marker = 'hd'``` and ```marker = 'sd'```both work perfectly.

I have tested with [alacritty](https://github.com/alacritty/alacritty) and it works perfectly.

Maybe a section in the manual stating supported tty could be enough. Otherwise, detecting the console and using a set of different defaults could also be a solution.

Finding out what makes some Unicode char

[2021-12-17 02:05] piccolomo commented on #62
Hi @jtplaarj,

thanks for reply. Here is the [new 4.1.3 version ](https://github.com/piccolomo/plotext) and this is what I have done: since it is almost impossible for me to discern which terminals renders well the 3x2 marker called `fhd`, I made the 2x2 ,marker called `hd` the default one for all terminal.

The marker `fhd` could still be used but one needs to check if its terminal allows it and

[2021-12-17 12:43] jtplaarj commented on #62
Hi @piccolomo

I have checked several of the examples in the documentation in Konsole, xterm and alacritty and work perfectly.

The background color looks really fine.

I think that the issue could be closed.

[2021-12-17 12:43] #62 closed

[2021-12-18 13:43] piccolomo commented on #26
Hi all,

The new version 4.1.3 is  available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/).

I have created a page guide  relative to the integration of `plotext` and `rich`, which could be reached [here](https://github.com/piccolomo/plotext/blob/master/readme/environments.md#rich).

Thanks anyone for the help.
Savino

[2021-12-18 13:45] piccolomo commented on #33
Hi @gregwa1953,

not sure if you are still interested but i have created a page guide for the integration of plotext and tkinter available [here](https://github.com/piccolomo/plotext/blob/master/readme/environments.md#tkinter).

The new version 4.1.3 is  available on [github](https://github.com/piccolomo/plotext) and [pypi](https://pypi.org/project/plotext/).

Thanks and all the best,
Savino

[2021-12-18 13:47] piccolomo commented on #62
Hi @jtplaarj,

thanks for feedback: the new `plotext` version 4.1.3 is  available on [github](https://github.com/piccolomo/plotext) and now also on [pypi](https://pypi.org/project/plotext/).

Thanks and all the best,
Savino

[2021-12-18 14:18] gregwa1953 commented on #33
Thank you!  I'll grab the guide and the new cuts!

Greg

On Sat, Dec 18, 2021 at 7:45 AM piccolomo ***@***.***> wrote:

--
*To be forewarned is to be forearmed.  To be forearmed means you can't buy
off the rack.*

Greg Walters

[2021-12-18 16:13] piccolomo commented on #33
great: it is an attempt, so any idea to improve it is welcomed.

On Sat, 18 Dec 2021, 08:18 Gregory D Walters, ***@***.***>
wrote:

[2021-12-19 12:53] JakubFrejlach opened #63 "Single Bar Plot: division by zero error (also in Pull 43)"
Miminal example:
[code]

[2021-12-19 20:48] piccolomo commented on #63
Hi @JakubFrejlach,

thanks for the issue report. The error is due to the fact that only a single bar is plotted, instead of the height being 1.

The issue was noted and fixed in [Pull 43](https://github.com/piccolomo/plotext/pull/43) but unfortunately the repo history got broken and the changes lost.

Anyway the new version [4.1.4](https://github.com/piccolomo/plotext) (available for now only on G

[2021-12-19 20:53] #63 closed

[2021-12-20 16:22] gregwa1953 commented on #33
Good morning.
I've been ill the last two days, so my brain rebelled to trying to learn anything new.  However, this morning, I felt a little bit better and was able to get my head around the new syntax and the plotsize parameter and the usage of limitsize.

I still have a little bit left to really get my stuff together, but it works well.  I'm VERY impressed.
THANK YOU SO MUCH.
![Plotext 4 13 Demo

[2021-12-20 20:49] piccolomo commented on #33
Hi @gregwa1953, thanks for the update and glad you enjoyed the initial result.

Just reminding that in your previous code, you were able to print in colors and with high resolution markers. Not sure how you managed that, as I didn't seem to find a way. It would be cool to see those features in your next demo, if they are easy to integrate.

One thing this integration could be useful at, is to plot

[2021-12-21 16:48] gregwa1953 commented on #33
Actually, the code was only able to show the plot in monochrome, but the plot itself was saved as a colour plot.  I am, however, trying to figure out a way to provide colour support.  At this point, my demo program, like yours, uses a tk.Label widget to show the plot, which can not provide colour support.

All that having been said, I've taken my demo program from the new version of PAGE (which ha

[2021-12-23 08:51] piccolomo commented on #33
Hi @gregwa1953,

I did it! Thanks to your valuable inputs and encouragements, I arrived to a satisfactory results, shown [here](https://github.com/piccolomo/plotext/blob/master/readme/environments.md#tkinter).

What do you think? :-)

Thanks,
Savino

[2021-12-23 09:33] gregwa1953 commented on #33
AWESOME JOB!
Thank you so much!

I will spend the Christmas "vacation" digesting the latest and attempt a
new version of the demo.

Greg

On Thu, Dec 23, 2021 at 2:51 AM piccolomo ***@***.***> wrote:

--
*To be forewarned is to be forearmed.  To be forearmed means you can't buy
off the rack.*

Greg Walters

[2021-12-24 11:37] NLKNguyen opened #65 "2 Feature Requests: Plot Extra Grid Lines and deal with 'None' Values in Data Plot"
Hi,

The DateTime plot `plot_date` requires all values to be numeric (None/NaN/np.nan is not accepted), but it's useful to be able to display shorter lines that don't span the whole time frame, which requires a way to represent no data like None/NaN. What I'm trying to do is to add some arbitrary trend line/channel on a stock price series.
Can you support this?

Thanks!

[2021-12-24 11:45] piccolomo commented on #65
Hi @NLKNguyen

thanks a lot for the issue report. However I find it a bit difficult to understand it. Could you kindly restate in simpler or different terms?

in particular, by values, you mean y values (not datetime ones)? if some y values are none/nan, how will this make the plot lines shorter? it seems to me, it would rather remove some of them (the one containing none/nan values) rather then s

[2021-12-24 22:40] NLKNguyen commented on #65
Thanks for the quick response,

I realized I used your API incorrectly. There is no issue. I'm used to other chart libraries that require all time series to share the same time frame and where there is no data, a NaN or None is expected.

Turned out multiple `plot_date` can have different dates as long as each has the same data length and date length. Here is just for reference.

[code]

![image](

[2021-12-27 22:43] piccolomo commented on #65
Hi @NLKNguyen, I have read your message and I liked your inputs, including the first one, which I think it is still valid (to plot data which include `None` values, if I am not mistaken) and shouldn't be too difficult to implement.

The horizontal/vertical line feature sounds a little more difficult to implement as I would need to plot a line between the plotting limits, which are only known after

[2021-12-29 19:41] piccolomo commented on #65
Hi @NLKNguyen,

I think I solved both issues, in new GitHub [4.1.5 version](https://github.com/piccolomo/plotext). Here is the code:

[code]
![image](https://user-images.githubusercontent.com/56689657/147697617-1c3b4f5f-3372-4d17-acf5-419a485c4046.png)

I haven't properly tested the new feature and functions. If you are available and double check, I could publish it on PyPi.

Thanks for help and i

[2021-12-30 12:00] NLKNguyen commented on #65
OMG that's awesome. Great work! I'll surely test it out as soon as possible and let you know. Looks very promising.

[2021-12-31 05:05] NLKNguyen commented on #65
It's very robust!! None/NaN is handled cleanly. Any combination I can think of works well. The horizontal/vertical lines with overlap effect look really nice. Well done!
Being able to use the same dates for all series in a plot and can accept None/NaN is convenient when working with time-series data in tabular format like from SQL queries or Pandas Data Frames.

Thank you :)

![image](https://user

[2021-12-31 05:05] #65 closed

[2022-01-01 01:02] piccolomo commented on #65
Glad it worked :-),

new [4.1.5 PyPi version](https://pypi.org/project/plotext/) also available now.

Thanks,
Savino

[2022-01-04 15:41] logxen opened #66 "Strange Characters in Jupyterlab"
Little bug I found here ... I am using Jupyterlab on Ubuntu 20.04 and I was getting the wide unicode block characters from a plot. I tried several different markers, (fhd, hd, dot, etc) and ended up with artifacts from previous markers on my plots. I eventually realized that this is because Jupyterlab is keeping the session open between the tests I was running and if I reset the python engine the

[2022-01-04 19:44] piccolomo commented on #66
Hi @logxen,

thanks a lot for reporting this.

I played around with jupyter-lab and luckily this should be solved just by using a clear function, before the plotting one: namely `clp()` or` clf()`. The complete guide on clear functions is [here](https://github.com/piccolomo/plotext/blob/master/readme/utilities.md#clear-functions).

Here is an example that worked well with me, with multiple plottin

[2022-01-07 19:22] barbestack opened #67 "Error in Bar Plots with 0 Height Data"
Sometimes, the data returned from the server has '0' for all day and night counts. When plotting, this results in a ZeroDi
visionError exception:

[code]

[2022-01-07 19:24] barbestack commented on #67
Works great if at least one of the data values is non-zero!
[code]

[2022-01-08 00:54] barbestack opened #68 "Legend Missing in Bar Plots if First Bar is 0"
If the first data element in the list is 0, the Legend does not display the associated color.
[code]
![image](https://user-images.githubusercontent.com/11821973/148624600-f8395007-edbe-4e66-b193-511c2942c969.png)

Same for a stacked_bar:

![image](https://user-images.githubusercontent.com/11821973/148624691-74b4b26c-7013-4392-803a-d32ada8b582b.png)

[2022-01-08 00:55] barbestack commented on #68
Works fine if first data elements are non-zero (even if the rest are zero)
![image](https://user-images.githubusercontent.com/11821973/148624783-f21c58f9-479c-4636-abc4-df810ea52725.png)

[2022-01-08 21:18] edenroseFR opened #69 "input() not working"
This is the output when I tried using input()
![image](https://user-images.githubusercontent.com/65489091/148660245-7a108b72-533b-49a4-85f2-afe62e5fa3da.png)

[2022-01-10 19:17] piccolomo commented on #69
Hi @edenroseFR, thanks for issue reporting.

I had a quick check on few of my ubuntu terminals and everything went well.

What terminal/shell are you using?

Thanks,
Savino

[2022-01-10 19:18] piccolomo commented on #68
Thanks a lot, taking some time to come back to the project. I will update. Really appreciate the reports!

[2022-01-10 19:19] piccolomo commented on #66
Hello @logxen, any update? Can I close the issue?

[2022-01-10 20:44] edenroseFR commented on #69
@piccolomo , I'm using Windows.

[2022-01-12 13:12] piccolomo commented on #69
and what software to run python scripts?

[2022-01-12 13:41] saddy001 opened #71 "limit_size(False) causes Infinite Loop"
[code]

[2022-01-12 15:52] piccolomo commented on #71
i didn't look at this properly, but as a start you could try to uncomment the line `# plt.plot_size(240, 30)`.

The `plt.limit_size(False, False)` line internally sets the plot size to an astronomical value (obviously larger then terminal size) and therefore it cannot be used alone.

did it work?

[2022-01-13 08:38] linan0827 opened #72 "Plot Refresh Rate"
This is an excellent project which I have been dreaming about for a long time.

I am not an expert on terminal manipulation, so I have a very basic question as the title suggested. I am curious about this is because normally I need to log in to a remote machine and use this tool to plot some data collected on that machine. The connection bandwidth is limited so I would like to estimate what can be

[2022-01-13 08:51] saddy001 commented on #71
No, still infinite loop.

[2022-01-13 09:25] piccolomo commented on #72
Hello @linan0827  glad you enjoying this project :-),

after you plot some data and show it with the `show `function, you could check the time it took to process the plotting (only inside the `show `function) with the function `time`, which will return the computational time required for computation. Its reciprocal should give an estimate on the refresh rate.

For example:
[code]

Thanks and I hop

[2022-01-13 16:05] edenroseFR commented on #69
I tried VS Code terminal and Command Prompt. Both have the same result.

[2022-01-14 11:45] saddy001 opened #73 "xticks() Not Working with Datetime Plots"
[code]
I tried to fix it, but it is not easily possible, because _utility.string_to_time now seems to be in a class (plotext._datetime.datetime_class.string_to_datetime) that needs plt as constructor.

[2022-01-15 20:06] piccolomo commented on #73
Hi @saddy001 ,

thanks for the issue report! Could I have a snippet of the code that produced this error?

Thanks

[2022-01-16 02:07] logxen commented on #66
sorry for the delayed response ... yes, the clear functions work, thanks!

[2022-01-16 02:07] #66 closed

[2022-01-16 09:08] saddy001 commented on #73
It fails with _any_ piece of code. Just call plt.xticks.

[2022-01-17 11:55] saddy001 commented on #73
Sorry I found out this is specific to plt.plot_date.

[2022-01-17 12:56] piccolomo commented on #69
Hi @edenroseFR,

thanks a lot for this issue report. I think I understood where the error came from. It seem to originate from the line
[code]
in the `_utility\platform.py `file. Those lines are now commented in new 4.1.6 version, and the error should not come again.

You can download latest GitHub version with:
[code]
Did it work?
thanks,
Savino

[2022-01-17 16:08] piccolomo commented on #66
👍🙂

[2022-01-18 23:43] edenroseFR commented on #69
Worked like a charm. Thank you!

[2022-01-19 14:48] #69 closed

[2022-01-20 13:21] piccolomo commented on #72
hello, any update?

[2022-01-22 18:37] #72 closed

[2022-01-22 18:37] piccolomo commented on #72
i closed for lack of feedback.

[2022-02-05 14:59] piccolomo commented on #73
Hi @saddy001,

thanks a lot for the report. I got some time to solve it. In fact this code:
[code]
outputs:
![image](https://user-images.githubusercontent.com/56689657/152647091-f83ea04f-c570-46ce-ab57-32c1186944a1.png)

You can download the latest GitHub [4.1.7 version] (https://github.com/piccolomo/plotext) (not yet available on PyPi) using:
[code]
note: you need git installed to be able to run

[2022-02-05 15:07] piccolomo commented on #71
Hi @saddy001 ,

thanks again for the report. The solution was actually simpler: when the plot dimensions are set to basically infinity with `plt.limit_size(False, False)`, one needs to define the actual dimensions desired for each subplot (or at least the ones in the main diagonal in the matrix of subplots, so that the others get automatically set). Here is a simple example:
[code]
which outputs:

[2022-02-05 15:17] piccolomo commented on #68
Hi @barbestack,

very good issue report. I found the solution and now the code:
[code]
outputs the right result:
![image](https://user-images.githubusercontent.com/56689657/152647577-8d0a24e6-38f2-4ac0-a256-3f773cd4b97c.png)
You can download the latest GitHub [4.1.7 version](https://github.com/piccolomo/plotext) (not yet available on PyPi) using:
[code]
note: you need git installed to be able to r

[2022-02-05 15:24] piccolomo commented on #67
Hi @barbestack,

thanks a lot for the usefull issue report. I have found a patchand now the code:
[code]
outputs the right result:
![image](https://user-images.githubusercontent.com/56689657/152647842-79e15335-312c-4960-9c72-7aae9fff6dac.png)
You can download the latest GitHub [4.1.7 version](https://github.com/piccolomo/plotext) (not yet available on PyPi) using:
[code]
note: you need git install

[2022-02-05 15:25] #73 closed

[2022-02-05 15:28] #71 closed

[2022-02-05 15:29] #68 closed

[2022-02-05 15:30] #67 closed

[2022-02-08 22:49] ThSGM opened #74 "Flickering on Live Plotting with Rich"
I tried to modify the example code that was raised in [this issue](https://github.com/piccolomo/plotext/issues/26) that managed to get plotext working with Rich. This is a fairly minimal script that tries to plot a moving sine curve.

The problem is that it shows a lot of flickering.

I am very new to coding with Python so I'm sure there are things that I'm doing that are not right. Possible issue

[2022-02-10 01:31] wookayin opened #75 "Idea: matplotlib backend mode"
Hi! I found this library and it's very interesting. Thanks for the great library.

One immediate thought I have is that its programmatic interface is quite independent. I wish I would be able to use the same matplotlib code for drawing plots, so implementing a matplotlib backend or (some sort of wrapper) would be great.

The API showcased in https://github.com/piccolomo/plotext/blob/master/readme/

[2022-02-10 10:49] piccolomo commented on #75
hi @wookayin,

thanks a lot for dropping your idea: very much appreciate any contribution :-)

I did not entirely understood it tough. Is it that you would like plot with `matplotlib` and see the same result in terminal without having to rewrite the same code for `plotext`?

Or more that you would like an output (wrapper) from `plotext` to connect to `matplotlib`? In this case, one thing that come

[2022-02-12 05:29] wookayin commented on #75
I looked into a bit of how this could be realized, and a tentative conclusion is due to much design differences this would not be easily possible.

The matplotlib backend API requires implementation of figure manager (which is straightforward) and renderer. The renderer is supposed to draw graphics being rendered from *matplotlib-internal* data structures (such as Figure, SubplotAxes). Mostly the

[2022-02-12 05:29] #75 closed

[2022-02-13 18:22] piccolomo commented on #75
Hi @wookayin,

thanks a lot for the great idea. I am now in the process of writing some code for next version, which will require a long time i suppose, but I still think this idea is actually quite interesting and I may give it a go if I realise is doable.

The only think i could think for now is, at the end of `matplotlib` plotting code to add a `plotext` function which take `matplotlib` `Figure

[2022-02-14 14:04] piccolomo commented on #74
Hi @ThSGM,

thanks a lot for dropping your feedback! :-)

I have modified your code and it seem to work fine on my machine. I changed colouring, marker and layout but you could change my code to suite your preferences.  Here it is:
[code]
which outputs a static and dynamic plot: here is a snapshot.

![image](https://user-images.githubusercontent.com/56689657/153878530-986ecf3f-b736-426e-8c19-97c21

[2022-02-15 02:30] ThSGM commented on #74
Hi!

I'm running a few tests, but the flickering is different when using different terminals on my macOS (notably Alacritty and iTerm). I'll run it on my Raspberry Pi computer to see if it persists there as well.

In the mean, I'm wondering if you could explain a few elements of your code:

- As I understand it, the refresh_per_second = 0.0001 is extremely slow. Basically refreshes every 10k secon

[2022-02-15 12:25] piccolomo commented on #74
Hi @ThSGM ,

I am not a `rich` expert, but this is what I understood.

- The `refresh_per_second` doesn't seem to make a difference: I tried values between 10**12 and 10**-12 with no difference, and I guess it is because there is a while loop soon after, which is what really matter.
- I have no idea what is `auto_refresh`
- What really decides the refresh rate it seem to be the plotting time, whic

[2022-02-17 06:13] ZaydH opened #76 "Feature Request: Histogram Normalisation Parameter"
Thanks for creating the great library.

Like `plotext`, `matplotlib` also provides a histogram feature.  One additional parameter `matplotlib` provides is the ability to assign weights to each sample -- particularly useful if you want to plot the histogram as a density plot rather than use the raw counts.  For example, see this [stack overflow discussion](https://stackoverflow.com/questions/386652

[2022-02-17 06:17] ZaydH commented on #76
`plotext`'s interface is lighterweight than `matplotlib` so a simple `density` argument may be a better fit than the full `weights` parameter.  Depending on your thoughts, I may be able to submit a PR as well (assuming you are open to that).

[2022-02-17 10:44] ZaydH opened #77 "Histogram Same Value Runtime Error"
Histogram plotting where `data` has identical value yields a runtime error.  I get that plotting a histogram in this case does not make sense, but I do not think it should raise a runtime error.

# MWE

[code]

# Error Message

[code]

# Setup Info

* OS: Pop!OS 21.10
* Package Version: 4.1.5

[2022-02-17 22:08] ZaydH commented on #76
If we went the route of simply `density`, the API change to [hist](https://github.com/piccolomo/plotext/blob/805c31802c80c9b2b8f4c6231eb8fa603cde7ee4/plotext/_core.py#L250) is quite minimal:
[code]

From there, [draw_hist](https://github.com/piccolomo/plotext/blob/805c31802c80c9b2b8f4c6231eb8fa603cde7ee4/plotext/_subplot.py#L550) needs a very small change (see the new `if` block):
[code]

Basic te

[2022-02-17 22:13] ZaydH commented on #76
`matplotlib` description of the `density` feature:

[Source](https://matplotlib.org/stable/gallery/statistics/histogram_features.html)

[2022-02-18 11:31] piccolomo commented on #74
Hello @ThSGM, any update?

[2022-02-18 11:42] piccolomo commented on #76
Hi @ZaydH,

all good on me, you could go ahead or if you prefer I will do it myself (as you want). Here are my suggestions:
 - I would call the parameter `norm` or `normalise`, but really it is up to you.
 - I would put this parameter right after `data, bins, width` so ye also `width` needs to be changed position (my mistake).
 - this is more relevant: I would add the new parameter to [`hist_data`

[2022-02-18 11:56] piccolomo commented on #74
Great I will wait then for a more complete answer (but take your time).

My latest reply could help you btw!

[2022-02-18 11:58] ThSGM commented on #74
(Re-sending on the appropriate account)

Hello! Thank you for all your help. I'll do a quick reply for now as I've been busy with work.

Basically, your alternative code did not seem to help. I tested it on both macOS iTerm2 and Alacritty and it showed significant flickering. The delay is due to the fact that I wanted to test on a Raspberry Pi/Debian system to see if it was due to the terminal.

I

[2022-02-19 11:03] piccolomo commented on #77
great, thanks anyway!

[2022-02-19 11:18] piccolomo commented on #76
@ZaydH  If this is too boring to do, I could do it

[2022-02-20 19:11] mprt opened #78 "Unevenly Thick and Spaced Bars in Horizontal Bar Plot"
Hi,
I'm trying to make a nice looking horizontal bar-plot, but the bars are always unevenly shaped.
I've been playing with plot_size and width, but some things are always off:
- different spaces between the bars
- different bar widths
- different position of bars with respect to their ticks.

I'd appreciate some pointers, thanks! :)

[2022-02-20 19:21] piccolomo commented on #78
Hello @mprt ,

thanks for the report and happy to help? Could you give me some minimal code, so that i tried to fix it?

[2022-02-20 19:31] mprt commented on #78
Hi  @piccolomo ,
thanks for the quick reply!
here's a quick example
[code]
Here's how it looks on my machine.
https://ibb.co/wQs7hG2

I guess it's just important to get the "fractions" of width and plot_size right, but I haven't found a solution yet.

Thanks for your help!

[2022-02-20 20:27] piccolomo commented on #78
Solved:

[code]
I followed my own guide [here](https://github.com/piccolomo/plotext/blob/master/readme/bar.md#sketchy-bar-plot) where, instead of `2 * len(x) - 1 + 3`, I plugged `2 * len(x) - 1 + 3` because there is no title (if you add a title use 4 then).

It doesn't work with marker = "sd" and i am not sure why, but this is a different story. Also I found the value width=0.3 by chance, I would

[2022-02-21 05:15] ZaydH commented on #76
Sorry for the delay.  I am working on a paper review rebuttal, but I wanted to get this to you before Monday.

Summary of the Changes:
* Parameter Name: `norm` I would have preferred the verb form, but from your comment, I learned that (American) "normalize" has an alternate British English spelling so to avoid user confusion I went with shorter version with no alternate spellings.
* I still do a

[2022-02-21 10:31] piccolomo commented on #76
Great! I merged your latest [pull request](https://github.com/piccolomo/plotext/pull/79). I can close.

[2022-02-21 10:32] #76 closed

[2022-02-21 10:52] piccolomo commented on #76
New [4.2.0 PyPi version](https://pypi.org/project/plotext/) published.

[2022-02-22 22:04] piccolomo commented on #78
hello any updates?

[2022-02-23 18:10] mprt commented on #78
Hi,
sorry for the delay and thanks for your help! that did the trick!
Also, since I'm using it in an animated loop, clf was necessary as well.

[2022-02-23 18:11] #78 closed

[2022-02-26 14:35] piccolomo commented on #74
hi @ThSGM , if you have more time now, you have some updates? my latest long message could help btw.

[2022-02-27 12:11] piccolomo commented on #74
Bottom line: tweak `t` in `plt.sleep(t)` at the end of the code.

[2022-03-02 11:25] #74 closed

[2022-03-15 17:36] Bingonemo123 opened #81 "Time Format Error in Datetime Plots"
[code]
Error

[code]
if date_format is not ```'%d/%m/%Y'``` getting Error

[2022-03-27 13:46] MartinThoma opened #83 "[Usage Question] How to Plot Time Series?"
In my [`activity-tracker`](https://github.com/MartinThoma/activity_tracker) project I have simple a list of timestamps. If there is a timestamp, then there is activity.

I would like to create a plot for one day of recorded activity. It should be a a 1440 pixel graphic (24 hours * 60 minutes / hour) x e.g. 20 pixel. Hence `x = h * 24 + m` (for any `y`) just indicates if that time is in my timeseri

[2022-03-28 15:48] piccolomo commented on #83
Hi @MartinThoma,

thanks a lot for the great input. Here is my draft solution:

[code]
with this result:
![image](https://user-images.githubusercontent.com/56689657/160436796-e885bd50-b170-482d-bf90-f10aced7f389.png)

For some reason I have to convert the `datetime` objects in timestamps as I discovered `plt.vertical_lines() `is not able to handle them: I should fix this for next version.

I hope

[2022-03-28 16:19] piccolomo commented on #81
Hi @Bingonemo123,

great issue report. I am writing a new version and should deal with this. The only problem is that it is going to take some time (months).

Let me know if it is a urgent issue or related to a bigger project and could temporary patch it.

Thanks ! :-)
Savino

[2022-03-29 10:22] piccolomo commented on #83
Hi @MartinThoma,

it occurred to me that you could improve the pixel resolution using this other way:

[code]
with this result:
![image](https://user-images.githubusercontent.com/56689657/160590972-07d2761e-d3f2-4d2f-b601-5489ab495301.png)

[2022-03-29 10:24] MartinThoma commented on #83
wooooah, this is amazing! Thank you so much! :hugs:

[2022-03-29 10:24] MartinThoma commented on #83
This answers my question in way more detail than I expected! You are awesome!

[2022-03-29 10:24] #83 closed

[2022-03-29 10:25] piccolomo commented on #83
Great, happy it helped! :-)

[2022-03-29 23:53] willw1 opened #84 "Numpy Array Type Error"
Great package. This works as expected:
[code]

But there seems to be a problem with dynamic type assignment (passing a numpy array directly gives the same error).
[code]
Error
[code]
[EDIT: Looks like it doesn't like numpy.int64 data type]

[2022-03-29 23:59] piccolomo commented on #84
Hi @willw1,

thanks for reporting.

Just quickly try `a.tolist()` instead of `list(a)`. It worked for me. The problem is that without `numpy`, `plotext` cannot do it automatically.

Savino

[2022-03-30 00:06] piccolomo commented on #84
The issue is that `list()` of a `numpy` array preserves each element type from `numpy`, while `tolist()` converts to actual `int`.

[2022-03-31 11:28] piccolomo commented on #84
I close, but feel free to continue discussion or reopen it necessary.

Thanks for input, Savino

[2022-03-31 11:31] #84 closed

[2022-03-31 21:16] mmguar opened #85 "Numpy Array Type Error in Scatter() function (related to Issue #84)"
[code]
Returns the following error:
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/matteo/anaconda3/lib/python3.9/site-packages/plotext/_figure.py", line 286, in show
    self.build()
  File "/home/matteo/anaconda3/lib/python3.9/site-packages/plotext/_figure.py", line 274, in build
    self.subplot.update_matrix()
  File "/home/matteo/anaconda3/lib/python3.

[2022-03-31 21:19] mmguar commented on #85
I understand this is similar to issue #84 , but some subtleties are a little different, so it may warrant double testing the solution against this use case too.
Feel free to close if the proposed solution works.

[2022-04-01 18:50] piccolomo commented on #85
Hi @mmguar, thanks a lot for the post. Thanks to the similar input in Issue 84. I have implemented the following change to [this function](https://github.com/piccolomo/plotext/blob/0e3f8b18046f7a68fda2bd40be8a75c0cf1bc0bb/plotext/_utility/data.py#L11)

[code]

which is not yet published, but seem to work fine with `numpy` arrays.

[2022-04-01 21:59] #85 closed

[2022-04-03 10:52] Ledjob commented on #81
I got another error while trying the example.

`Exception in thread Thread-1:
Traceback (most recent call last):
  File "/usr/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.6/threading.py", line 864, in run
    self._target(*self._args, **self._kwargs)
  File "/home/Ledjob/.local/lib/python3.6/site-packages/multitasking/__init__.py", line 102, in

[2022-04-03 15:23] piccolomo commented on #81
Hello @Bingonemo123

I am trying to solve the issue, could kindly provide also `rates` (where it actually comes from) so that I understand better the error: I don't seem to be able to replicate it.

Thanks

[2022-04-03 15:36] Bingonemo123 commented on #81
@piccolomo rates comes from ohlc structured list so` prices` must be list of float numbers. I don't have exact code, I changed it and it is, somewhere in git archives. If you still need exact code I will reconstruct it.

[2022-04-03 15:40] piccolomo commented on #84
Hello @willw1,

Issue solved in [version 4.3](https://github.com/piccolomo/plotext) available only on GitHub for now, using:

[code]

Any feedback or double test is appreciated.

Thanks,
Savino

[2022-04-03 15:41] piccolomo commented on #85
Hello @mmguar ,

Issue solved in [version 4.3](https://github.com/piccolomo/plotext) available only on GitHub for now, using:

[code]

Any feedback or double test is appreciated.

Thanks,
Savino

[2022-04-03 15:47] piccolomo commented on #81
Hi @Bingonemo123, thanks for answer, the thing is that `rates` seem to contain also datetime information: it would be helpful to understand what kind of structure it has ...

[2022-04-03 15:54] Bingonemo123 commented on #81
@piccolomo  It was [ timestamp, open, high, low , close, tick_volume  spread  real_volume] as is mentioned [https://www.mql5.com/en/docs/integration/python_metatrader5/mt5copyratesfrom_py](here). I think, it is original source.

[2022-04-03 16:14] piccolomo commented on #81
Understood, I will try to simulate some data later. I tried the code btw but I was not successful in installing MetaTrader5 on Linux

[2022-04-03 16:17] Bingonemo123 commented on #81
`MetaTrader` is not available on Linux, it is available on windows but it needs standalone working Software. But I think. it is returning python object, so you can simulate just that.

[2022-04-03 16:32] piccolomo commented on #81
Ok, I will give it a try later, but if you feel like droping a complete code, would be helpful

[2022-04-04 22:40] mmguar commented on #85
It looks good after a quick test. Thanks for the quick fix!

[2022-04-07 22:49] piccolomo commented on #81
Hi @Bingonemo123,

I think I solved the issue in the new [version 4.3](https://github.com/piccolomo/plotext) available only on GitHub for now, using:
[code]

Here is some working code:
[code]

![image](https://user-images.githubusercontent.com/56689657/162331642-dae60b4c-f78b-44fa-a8c1-084528f00583.png)

The new code comes from next version on which I am still working on, which I have quickly adap

[2022-04-07 22:51] #81 closed

[2022-04-20 22:25] pieterbergmans opened #86 "Feature Request: Reverse Axes"
This is a great library and very easy to use. Thanks!

My question is, is there anyway to reverse the x-axis?  My data is in descending order but the plotext plots it in ascening order.

Thanks.

[2022-04-25 09:51] Neo-Oli opened #87 "SyntaxError in new Version"
Hi

In the latest release there is a syntax error in __init__.py.

Tested with this very basic example:
[code]

However in this repository the syntax seems correct. Is the source on PyPI not the same as in this git repository?

[2022-04-25 11:05] piccolomo commented on #87
Hi @Neo-Oli ,

thanks a lot for letting me know. Very helpful! Not sure where that error came from. Anyway I updated the version!

Could you kindly update if the new package works?

Any other issue or feedback (positive or negative), please let me know. I may take a rest for a while, but will answer eventually.

All the best,
- Savino

[2022-04-25 11:12] Neo-Oli commented on #87
Thanks for the quick fix, it works now.

[2022-04-25 11:12] #87 closed

[2022-04-25 11:17] Neo-Oli opened #88 "Function limit_size() not Working as Usual"
Hey

`limit_size()` no longer seems to be working. If i set it to `False, False` the plot will still be limited to the terminal size. In the previous version this worked to create bigger plots. Because I am not running it from a terminal it will always be limited to `80x24` now

[code]

[2022-04-25 11:20] piccolomo commented on #88
yes true, but it should work with plotsize as well, hopefully. The default
unlimited size is preaty big, so i gave the terminal as a first reference.

does it work with plotext()?

thanks a lot for reporting! 🙂

On Mon, 25 Apr 2022, 12:17 glow, ***@***.***> wrote:

[2022-04-25 11:37] Neo-Oli commented on #88
Not sure what you mean by that. Is that a function of the module?

[2022-04-25 11:40] piccolomo commented on #88
that was another typo 😉.

I meant plotsize(width, height) along size limitsize(False,False).

 hope it works

On Mon, 25 Apr 2022, 12:38 glow, ***@***.***> wrote:

[2022-04-25 11:49] Neo-Oli commented on #88
Ah, I know what the problem is. It is now depends on the order of operations.

This will create a big plot:
[code]

And this will create the limited plot:
[code]

In the previous version both snippets resulted in the same output.

[Perhaps this should be documented.](https://github.com/piccolomo/plotext/blob/master/readme/aspect.md#plot-size)

[2022-04-25 15:01] piccolomo commented on #88
Nicely spotted! I should add this to documentation. I will take a break for a while

[2022-04-27 16:21] Neo-Oli opened #89 "Braille pattern markers ⡠⠒⠊"
Hey,

It would be very neat if we could have a marker option with unicode braille pattern. http://www.alanwood.net/unicode/braille_patterns.html

As far as I can tell they function very similarly to the current `fhd` markers and they should theoretically allow for an even greater resolution as they are 2x4 in scale (⣿)

[code]

[2022-04-29 10:32] piccolomo commented on #86
Hi @pieterbergmans,

sorry for late reply, I worked on latest version. I do not have this feature in the package, but sounds like something I could integrate, but not too sure.

In the mean time have you tried to reverse the x data with `x[::-1]` and to change the x ticks to the reversed ones with `plotext.xticks()`?

all the best and thanks a lot for the issue report

[2022-04-29 13:52] ndawe opened #90 "Issue when formatting tick labels for log scale plots"
Great library! Just hit the problem below when creating a log-log plot that seems to be due to how the tick labels are constructed.

Here's a minimal example to reproduce the issue:

[code]

This causes:

[code]

The  value of `labels` at that point is:

[code]

and there is no decimal point in the first label. `distinguishing_digit()` might also be returning too many digits in this case.

[2022-04-29 13:57] piccolomo commented on #90
Great Issue report, thanks a lot. I will have a look at it. Kind of resting a bit after latest upload (it was a big work).

[2022-05-01 18:24] piccolomo opened #91 "[by Author] Any Feedback, Opinion on Plotext welcomed here"
Hello All,

I open this thread, to gather here **feedback** on the package of any kind: you could say whatever you want :-).

Any new [color theme](https://github.com/piccolomo/plotext/blob/master/readme/aspect.md#colors) idea - or to change its silly names - for example is very welcomed.

Anything you really don't like, or really like, or would rather change, or tweak.

Ideally those feedback cou

[2022-05-11 23:04] apiszcz opened #92 "Save plot to memory file?"
Is it possible to save a plot to an in memory file fir savefig or some other method?

Trying this produces a stack trace:
[code]

[2022-05-11 23:08] apiszcz commented on #92
Solution:
pt.build()

thank you!

[2022-05-11 23:08] #92 closed

[2022-05-12 09:33] piccolomo commented on #92
build() will output the string version of the figure, while savefig(path)
will save the plot in the path specified. you could try both. all the best

On Thu, 12 May 2022, 00:08 ap, ***@***.***> wrote:

[2022-05-13 21:01] apiszcz commented on #91
.build() provides the commands for terminal to render the plot. Is there a method to obtain pure ascii representation of the plot so it will be printable, etc. in email/anywhere that is not a terminal?
Tx

[2022-05-13 21:12] piccolomo commented on #91
Hi @apiszcz , thanks for stopping by and your feedback. This could help:
[code]
What do you think?

[2022-05-13 21:26] apiszcz commented on #91
0     17
1     74
2     36
3      3
4     36
5     85
6     34
7     88
8     24
9     18
10    32
11    93
12    31
13    12
14    64
Name: A, dtype: int32

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\g\via39\lib\lib\site-packages\plotext\_core.py", line 195, in save_fig
    figure.save_fig(path, keep_colors)
  File "C:\g\via39\lib\lib\site-packages\plotext

[2022-05-13 21:30] piccolomo commented on #91
@apiszcz, could you post a workable code with orginal pandas dataframe?

[2022-05-13 22:33] apiszcz commented on #91
df = pd.DataFrame(np.random.randint(0,100,size=(15, 4)), columns=list('ABCD'))

[2022-05-13 22:41] piccolomo commented on #91
[code]
what do you think?

[2022-05-14 06:06] apiszcz commented on #91
I like the 'concept! :). The following test is on Windows 10, Python 3.9.

[code]

[2022-05-14 09:22] piccolomo commented on #91
Perhaps this deserves a separate issue, or we could continue in the old one you opened, which seems related.

[2022-05-14 09:55] apiszcz commented on #91
it is related, my quest continues for a pure ASCII plot with the power you have developed for plotting! Thanks.

[2022-05-14 10:00] piccolomo commented on #91
ok cool, I will try to solve it and post it to your old issue (if you agree), btw if you could send that code there, it would be great, otherwise i will find a way to do it. thanks a lot for the patience and great issue report. I may delete some posts here (or reduce them).

[2022-05-14 10:08] apiszcz commented on #91
Yes, i agree.
The code is above from your sample, it demonstrates the issue.

[code]

[2022-05-19 17:25] nelbren commented on #90
**Quick fix:**
1)  Replace the line:

[code]
2) For this new line:

[code]

Regards! 🙂

[2022-05-19 17:41] piccolomo commented on #90
cool, i will come back to this in following weeks. i slowly creating next minor version. if you think it works feel free to go ahead with a pull request. for now thanks for the issue and solution.
Savy

[2022-05-19 19:03] PhilipVinc commented on #91
Hi @piccolomo , I recently found out your library and I find it extremely useful to quickly plot data on a remote server..

If I could advance a feature request: error bars, at least along the y axis!

[2022-05-20 08:50] piccolomo commented on #91
Hi @PhilipVinc, thanks for the nice message, I am happy that the project was useful to you :-). Error bar sounds like a cool idea and should not be too difficult to implement, as I have already built the `candlestick()` function which produces a similar result.

I was thinking of an extra function like `error(x, errorx, errory)` to produce those cross shaped error bars. I will try to check if it c

[2022-05-29 18:54] Samiisd opened #94 "Plotting text crashes on second plot call"
## Description

The second call to plt.show after that plt.text was used generates a `list out of range exception`

## Reproduce

Let's take the example code from the documentation for plt.text:

[code]

### Traceback

[code]

[2022-06-08 06:49] notionparallax opened #95 "image plotting example fails"
Calling the example one-liner from the docs on the image example, i.e.:
[code]

gives the error: `AttributeError: module 'plotext' has no attribute 'test_image_url'. Did you mean: 'test_image_path'?`

If I search the repo for 'test_image_url' ([like this](https://github.com/piccolomo/plotext/search?q=test_image_url)) It shows up 4 uses of that string in MD files, but none in python files.

If I ru

[2022-06-08 08:05] piccolomo commented on #95
Hi @notionparallax, you are right, I worked on next version and already updated the guide, but not the files, I should do that soon. In the mean time the image example that would work with version 5.0 should be: ` import plotext as plt; plt.image_plot(plt.test_image_path); plt.show()`
Same for gif and videos: `import plotext as plt; plt.play_gif(plt.test_gif_path); plt.show()`
videos: import plote

[2022-06-12 19:24] piccolomo commented on #95
quick message, new github version now available...

[2022-06-12 22:26] piccolomo commented on #91
Hello @PhilipVinc  ,

I added the error function as requested, in the new [version 5.1](https://github.com/piccolomo/plotext) available only on GitHub for now, using:

[code]
The function is described [here](https://github.com/piccolomo/plotext/blob/master/readme/other.md#error-plot) and you have been credited [here](https://github.com/piccolomo/plotext/blob/master/readme/notes.md#credits).

Any f

[2022-06-12 22:28] piccolomo commented on #95
Hi @notionparallax,

Hello @PhilipVinc  ,

I have should have solved this issue in the new [version 5.1](https://github.com/piccolomo/plotext), available only on GitHub for now, using:
[code]

Any feedback or double test is appreciated.
Thanks and all the best,
Savino

[2022-06-12 22:28] #95 closed

[2022-06-12 22:29] piccolomo commented on #90
Hello @ndawe and @nelbren ,

I have solved the issue in the new [version 5.1](https://github.com/piccolomo/plotext), available only on GitHub for now, using:
[code]
Any feedback or double test is appreciated.
Thanks and all the best,
Savino

[2022-06-12 22:29] #90 closed

[2022-06-12 22:30] piccolomo commented on #89
Hello @Neo-Oli   ,

I have added the `braille` marker as requested, in the new [version 5.1](https://github.com/piccolomo/plotext), available only on GitHub for now, using:
[code]
The marker is described [here](https://github.com/piccolomo/plotext/blob/master/readme/aspect.md#markers) and you have been credited [here](https://github.com/piccolomo/plotext/blob/master/readme/notes.md#credits).

Any

[2022-06-12 22:30] #89 closed

[2022-06-12 22:33] piccolomo commented on #88
I reopen this not to forget, to sort this out ...

[2022-06-12 22:43] piccolomo commented on #75
Hi @wookayin,

I have worked on your request and added the function `from_matplotlib()` function, in the new [version 5.1](https://github.com/piccolomo/plotext), available only on GitHub for now, using:
[code]
The function is described [here](https://github.com/piccolomo/plotext/blob/master/readme/environments.md#matplotlib) and you have been credited [here](https://github.com/piccolomo/plotext/bl

[2022-06-12 22:46] piccolomo commented on #83
Hi @MartinThoma ,

Thanks to your request, I have added the function `eventplot()` function, in the new [version 5.1](https://github.com/piccolomo/plotext), available only on GitHub for now, using:
[code]
The function is described [here](https://github.com/piccolomo/plotext/blob/master/readme/other.md#event-plot) and you have been credited [here](https://github.com/piccolomo/plotext/blob/master/re

[2022-06-12 22:57] piccolomo commented on #94
Hi @Samiisd,

Cool I will work on this in the following weekends and I will update.

Thanks for posting btw, nicely spotted! Those little issue report are very useful!

Savino

[2022-06-13 06:18] MartinThoma commented on #83
You're amazing! Thank you for giving credit - that would not be necessary, but I appreciate it 😊🤗

[2022-06-13 10:18] Neo-Oli commented on #89
Oh wow, I tested it out and it works and looks great so far.

[2022-06-13 23:26] Chaitanyabsprip commented on #91
I there a way for me to make a box plot?

[2022-06-16 07:13] Samiisd commented on #94
Hi @piccolomo, I'm glad that it helps. And thanks for maintaining this lib, great experience so far! :+1:

[2022-06-17 18:32] Chaitanyabsprip commented on #91
I mean this way of plotting data.
https://towardsdatascience.com/understanding-boxplots-5e2df7bcbd51

basically the plot captures max, min, variance, median, mean and outliers of a dataset.

[2022-06-17 19:25] piccolomo commented on #91
Hi Chaitanya, thanks for the clarification. What comes to mind is the error
plot
<https://github.com/piccolomo/plotext/blob/master/readme/other.md#error-plot>,
using the function error(), which you could probably adapt to your
situation using the xerr and yerr parameters, and also the candlestick()
function
<https://github.com/piccolomo/plotext/blob/master/readme/datetime.md#candlestick-plot>,
whi

[2022-06-19 11:35] piccolomo commented on #91
Hi Chaitanya, thanks for the clarification. What comes to mind is the [error
plot](https://github.com/piccolomo/plotext/blob/master/readme/other.md#error-plot) which you could probably adapt to your situation using the `xerr` and `yerr` parameters, and also the [candlestick plot](https://github.com/piccolomo/plotext/blob/master/readme/datetime.md#candlestick-plot), which I think accepts only dates

[2022-06-23 12:33] tweber68 opened #96 "Bar Plot Limited Resolution Results in Wrong Bars"
I have the following values and keys for a horzizontal bar chart (value,key):

[code]

My code is like this:
[code]

The output is the following:
![image](https://user-images.githubusercontent.com/59922226/175299049-c2909bfb-eda7-4ef9-bb8f-4096897a756b.png)

You see I49 and I89 are not displayed correctly. They start in the negative area, which is not correct.

[2022-06-26 10:58] piccolomo commented on #94
Hi @Samiisd,

I have solved this issue in the new [version 5.1](https://github.com/piccolomo/plotext), available only on GitHub for now, using:
[code]

To install the optional dependencies, instructions are provided [here](https://github.com/piccolomo/plotext#install).

Any feedback or double test is appreciated.
Thanks and all the best,
Savino

[2022-06-26 11:01] #94 closed

[2022-06-26 12:39] piccolomo commented on #96
Hi @tweber68 ,

thanks for the report.

I think the result is due to the limitation in character resolution. Here are three solutions using different markers and width (the other two are commented but work as well).

[code]
![image](https://user-images.githubusercontent.com/56689657/175814572-3ccf7584-5fa2-48de-a919-41f187f7bca1.png)

What do you think?
All the best,
Savino

[2022-06-26 13:24] piccolomo commented on #96
I reopen to remember to fix

[2022-06-26 13:29] piccolomo commented on #96
Basically the each marker adds an extra width to each bar, and does affect the bar `width` parameter. I will try to find a way around this, that's why I reopened it.

[2022-06-26 13:36] tweber68 commented on #96
@piccolomo ok, thanks!

[2022-06-27 20:37] tweber68 commented on #96
@piccolomo In order to answer to your question: I think sd is more beautiful. Perhaps you could describe in the documentation what is a marker and how it is related to the option 'width'. I find this is not very clear.

Best, Theo

[2022-06-30 18:43] newbiemate opened #97 "Weird Rendering of Sketchy Bar plot in Windows"
The Sketchy Bar plot is messed up when rendered in Windows terminal:

https://github.com/piccolomo/plotext/blob/master/readme/bar.md#sketchy-bar-plot

Command:

    python3 -c "import plotext as plt; pizzas = ['Sausage', 'Pepperoni', 'Mushrooms', 'Cheese', 'Chicken', 'Beef']; percentages = [14, 36, 11, 8, 7, 4]; plt.bar(pizzas, percentages, orientation = 'h', width = 0.3, marker = 'fhd'); plt.titl

[2022-06-30 18:46] piccolomo commented on #97
Thanks for reporting @newbiemate ! :-)

mmm, you are right, try `marker = "hd"` or` marker = "sd"` inside the `bar()` function. I should explain those markers better in the guide.

Does it work?

[2022-06-30 18:53] newbiemate commented on #97
Thanks,

Changing it to `marker='hd'` fixed it, but left a weird graphical artifact at one of the bar graphs:
![image](https://user-images.githubusercontent.com/34783617/176755684-b37baeec-726c-4f6f-a14a-d8e6ba42fff0.png)

Changing it to `marker='sd'` was correct but then I don't get the nice spacing:
![image](https://user-images.githubusercontent.com/34783617/176755766-ca585b1a-451e-4751-8119-0cb

[2022-06-30 18:59] piccolomo commented on #97
Also try `width = 0.2` inside the bar function when using `hd` marker. This is similar to [previous issue](https://github.com/piccolomo/plotext/issues/96), yet to be solved: each marker adds an extra width which is different from marker to marker.

[2022-06-30 19:06] newbiemate commented on #97
Using `marker=hd` and `width = 0.2` fixed it all:

![image](https://user-images.githubusercontent.com/34783617/176757984-969a0355-8091-42d8-b66f-9ff49b39cf75.png)

Thank you!

Do you have plans on getting 5.1 to pip? Currently it looks like it's on 5.0.2.

[2022-06-30 19:10] piccolomo commented on #97
Actually I still see those weird coloring on the right side, try install version 5.1 with `pip install git+https://github.com/piccolomo/plotext` ...

I would rather come up with a very well oiled new version, before publishing it on pypi... issues reports like yours are very helpful for this... also I am in a lazy/busy period and my mind is on something else, after last version (which was a big ch

[2022-06-30 19:13] newbiemate opened #98 "Request: Sketchy Stacked Bar Plot"
Hi, I like the Sketchy Bar feel of rendering the graph directly within the terminal. But I also would love to be able to stack multiple data on a single bar graph using different colors like you have for the Stacked Bar Plot.

An example is:
![image](https://user-images.githubusercontent.com/34783617/176758991-508a8588-7c6c-4630-9599-d761a2409062.png)

[Image source](https://github.com/mkaz/termgr

[2022-06-30 19:17] piccolomo commented on #98
That is one cool bar plot... I will try my best to answer this issue in the following days... thanks as usual for the inputs! :-)

[2022-06-30 19:26] piccolomo commented on #98
Thinking out loud that it may better to have a dedicated function called `sketchy_bar()` and `sketchy_stacked_bar()` or similar to plot something like that easily without having to sett all the parameters manually, like text, dimension, etc ...

[2022-07-07 08:42] spring-cxz opened #99 "Streaming Data not working in version 5.0"
Hi , I want to use streaming data mode to show some data, but is not working, It's blocked in the beginning.

The code is like this

[code]

^CTraceback (most recent call last):
  File "draw2.py", line 21, in <module>
    plt.show()
  File "/usr/local/lib/python3.7/dist-packages/plotext/_core.py", line 183, in show
    figure.show()
  File "/usr/local/lib/python3.7/dist-packages/plotext/_figure.py

[2022-07-07 10:51] spring-cxz commented on #99
I used pip3 to install it . And a new issue appeared.

![image](https://user-images.githubusercontent.com/52104372/177756800-eeda564f-6665-4613-8116-89ec8ddd20e0.png)

[2022-07-07 11:04] spring-cxz commented on #99
My run it on  Debian 9 in Virtual Box.  I'll have a try again. Thanks .

[2022-07-07 11:12] piccolomo commented on #99
Try to get the version of Python you are using (it doesn't seem to like the unpacking operator *), also try to remove the warning shown by not running as administrator, even tough I tried to run it myself as administrator and worked just fine.
Good luck

[2022-07-07 13:35] spring-cxz commented on #99
There is a good news. It works after update python 3.7  to 3.8 version.   So there is something wrong on python 3.7.
Plotext is a good module, I like it.
Thanks very much.  :)

[2022-07-17 08:07] SkyHyperV opened #100 "Index Out of Range"
I get the following error intermittently even though my SQL query for the data against my DB returns the right number of rows for both 'dates' and my 'data':

Traceback (most recent call last):
  File "/home/me/.local/lib/python3.10/site-packages/pmtlottotracker/app.py", line 4475, in main
    get_account_info(logger, TDSession, data_all, account_id)
  File "/home/me/.local/lib/python3.10/site-pac

[2022-07-17 08:27] SkyHyperV commented on #100
Looks like running: plot.clf() before starting the plot helps. Will keep testing.

[2022-07-17 13:48] piccolomo commented on #100
Hello @SkyHyperV

thanks for your feedback and taking the time to drop the issue. Could I kindly ask you for a minimum code that produces that error?

Thanks

[2022-07-17 17:57] SkyHyperV commented on #100
Code below, but I believe its functioning properly now that I run plt.clf() before any of my rendering code. I didn't realize this plot had some "memory" or something which caused me some issues with it showing stale data even though it should have rendered a new graph. Anyhow, code below but it seems to be working with clf() called:

    try:
        today = datetime.date.today()
        current_

[2022-07-17 18:27] SkyHyperV commented on #100
Actually I'm also trying a bar chart (code below) with the same date format (2022-01-03) and values are floats like 200.5 for "net premium" but getting the following stacktrace:

Code:
plt.clf()
    plt.date_form('Y-m-d')
    plt.plotsize(120, 25)
    plt.theme('clear')
    plt.plot(dates, net_premium)
    plt.bar(['500'], ['2022-01-03'], orientation="horizontal", width=3/5)
    if CONFIG.fee > 0:

[2022-07-17 18:37] SkyHyperV commented on #100
Ignore... I had the bar chart backwards in the input. My issues are largely resolved using the clf() and fixing the ordering. Will close case.

[2022-07-17 18:37] #100 closed

[2022-07-17 20:24] piccolomo commented on #100
Hi @SkyHyperV,

no problem, glad you found a way out. Any other feedback more then welcomed, even by e-mail.

All the best,
Savino

[2022-07-18 10:53] piccolomo commented on #100
Hi @SkyHyperV, I may delete this issue in the foloowing days, but if you or someone else think I should not, please let me know. Any other issue is more then welcomed.
Thanks,
Savino

[2022-07-18 12:55] mattAndruff opened #101 "Images not working"
Images are looking funky/chunky.

I download plotext 5.0(via conda) on Centos 7 (Python 3.7.12)
`conda install plotext[image] --force`

<img width="1440" alt="Screen Shot 2022-07-18 at 8 49 55 AM" src="https://user-images.githubusercontent.com/26882428/179515280-e34506e8-a342-4f2a-a684-a23b6f8d6aa7.png">

Tried downloading 5.1 from git but it was dropping a syntax error. So I reverted to 5.0.

Any

[2022-07-18 13:41] SkyHyperV opened #102 "Question: X Axis Label"
I have a list I'm passing into the bar chart but it ends up looking like below. I want to keep the whole numbers and have each tick labeled with the entries in the list. I tried the xticks function but not sure how to use it properly:

Essentially, the X-axis are "Weeks", so I need it 1, 2, 3, ... instead of thee floating point it seems to be attempting to distribute across the X-axis.

![image](h

[2022-07-18 15:13] #102 closed

[2022-07-18 23:06] SkyHyperV opened #103 "Range based on list contents"
I have tried the following snippet of code and I get the range (26, 29) but for some reason the labels are not printing.

The snippet you gave me earlier worked great for my lists which were 1 ... n, but when I have a list of just [27, 28, 29], I'm not sure how to get the xticks/xlabel to work with you library?

        xticks = range(week_int[0]-1, week_int[-1]+1)
        xlabels = [str(el) for e

[2022-07-19 03:03] SkyHyperV commented on #103
See another example with the same list with value 7 and '7' label -- one graph shows the 7 single-tick and the other graph is missing the label.

![image](https://user-images.githubusercontent.com/31451171/179655298-0bf80eb0-cb0b-4a9e-93d8-f0c13fb44891.png)

[2022-07-19 16:10] SkyHyperV opened #104 "OSError"
I'm getting the following stack trace on the code below. I checked both my dates and nlvs lists and they both have 137 entries in each list so the contents match up. I cannot reproduce this error but one of my users reported it.

dates = ['01-03', ...]
nlvs = [150.35, ...]

        today = datetime.date.today()
        current_year = today.strftime('%Y')

        plt.clf()
        plt.date_form('m

[2022-07-19 17:24] SkyHyperV commented on #104
Could my issues be related to version 5.0.2? I run: pip install plotext but it doesn't install 5.1

[2022-07-19 17:29] SkyHyperV commented on #103
Also just to update, I updated to 5.1 and the graph is still not having the single tick whereas another graph does.

[2022-07-19 19:38] SkyHyperV commented on #104
Another update, I updated the library and even try to pass in fixed lists like the below and stilit crashes with the stacktracek. The 'bar' charts work but plt.plot(dates, nlvs) doesnt. Here's a sample data:

dates = ['01-03', '01-15', '01-31', '02-14', '02-28']
nlvs = [123456789, 133456789, 143456789, 123996789, 11346789]

still produces stacktrace/error

[2022-07-19 19:45] SkyHyperV opened #105 "Plot Colors not Rendered in Windows"
Is there a way to make Windows command prompt show the colored graphs? It's showing grey for all my users but works nicely for me in Linux shell.

[2022-07-19 22:42] SkyHyperV commented on #103
I see why the stacked one has a tick, I was passing in the 'month' list to one graph but not the other. The default bar examples dont show this and I completely missed it. Will close as its fixed now.

[2022-07-19 22:42] #103 closed

[2022-07-21 16:46] pankajp opened #106 "Incorrect text using text on bar plots"
As in the example https://github.com/piccolomo/plotext/blob/master/readme/other.md#text-plot
The labels Mu**s**hrooms and Chee**s**e are missing the **s**

[code]

![image](https://user-images.githubusercontent.com/776111/180268807-ee02803d-dd6d-4d18-9406-601d6663bda1.png)

[2022-08-02 16:55] vps-eric opened #108 "Request: Square Wave Plot"
Hello,
This is a great project! One useful plot to add would be that of a square wave:

![image](https://user-images.githubusercontent.com/65966889/182431125-ac27e682-71d2-4a83-9b70-42512915cc1d.png)
Example from the SciPy project.

I realize this could probably be done using the standard `plot()`, but a convenience function for this would be great (or an example in the docs).

[2022-08-02 17:51] eric8he commented on #91
Hey!

Is there a way to only set one x- and y-limit? i.e. if you wanted the graph to be only in one quadrant.

[2022-08-02 17:58] piccolomo commented on #91
Hi @eric8he ,

not sure if I understand correctly, but if I do you could use for example the function `xlim(upper = 3)` or `xlim(lower = 0)`,i.e. using only one parameter, or `xlim(lower = 0, upper = 3),` using both. The same thing applies for the function `ylim()` where the parameters are `left` and `right` this time. Did I get and answered your question?

[2022-08-02 18:16] eric8he commented on #91
Thanks for the response!

Unfortunately, when I try only parameter in `xlim` or `ylim` I get this error:
<img width="1661" alt="Screen Shot 2022-08-02 at 11 16 20 AM" src="https://user-images.githubusercontent.com/19654278/182445332-432a8df2-25fd-4e85-8895-ace7850cf404.png">

[2022-08-02 18:30] piccolomo commented on #91
mm that feels like a legit bug.. I shall fix this... bugs are piling up and may take some time (I am not working on `plotext` recently). If you need it quickly I guess you could test by modifying the code with `if None in xlim ` yourself for now. I will update anyway, but if you have any test done, feel free to share. all the best

[2022-08-02 18:47] eric8he commented on #91
Yup! Replacing `xlim == [None] * 2` with `None in xlim` in monitor.py did the trick. Works well now. Thanks so much!!

[2022-08-02 19:33] piccolomo commented on #91
my pleasure

On Tue, 2 Aug 2022, 19:48 Eric He, ***@***.***> wrote:

[2022-08-05 15:00] piccolomo commented on #108
Good idea, I should come up with something ..

[2022-08-08 09:38] dns13 opened #109 "Request: Allow appending to file with savefig()"
savefig() opens the file as 'w+', an option to set file mode to 'a+' to append to that file would be great.

[2022-08-08 20:30] S1SYPHOS opened #110 "Hide ticks"
Hey there,
would it be possible to completely hide ticks? I tried something like `plt.ticks_color(None)` which didn't yield the desired effect - worth a try though :grin: I want to hide them and only label the bars of my bar chart, but I can totally see that this is somewhat of an edge case :confused:

[2022-08-08 22:50] piccolomo commented on #110
No, it totally doable, try the function `xfrequency(0)` or `yfrequency(0)`, did it help?

[2022-08-09 04:15] feizheng10 commented on #91
plotext is definitely a cool tool! I'm wondering is it possible to add feature like drawing simple shapes with text/symbols in?

[2022-08-09 06:34] S1SYPHOS commented on #110
I'll try and report back. Quick aside: "official" support of labelled bars would be great, but that's maybe something for another issue 😃

[2022-08-09 13:52] S1SYPHOS commented on #110
@piccolomo yeah ticks are hidden, but how do I get rid of the box around it? When changing tick color, border/axis color is changed too - I suspected that "disabling" ticks would remove them / the surrounding rectangle. One thing: setting `plt.xticks([])` & `plt.yticks([])` has the same effect 😀

[2022-08-09 16:24] piccolomo commented on #110
Hi @S1SYPHOS, try` plt.frame(False)` or the functions` plt.xaxes()` and  `plt.yaxes()` for full control over each axes.

Ye `plt.xticks([])` and `plt.yticks([])` have the same effect as `plt.xfrequency(0)` or `plt.yfrequency(0)`, but the former functions give you more control, the latter quicker ability to change just the ticks frequency.

[2022-08-09 16:31] piccolomo commented on #91
@feizheng10  Definitively something I may work for next version, may need time but thanks for your input.

[2022-08-09 17:37] feizheng10 commented on #91
To be honest, plotext is my favorite comparing to other text plot tools...but I need simple functionality like plotille canvas, which I believe would be useful for other projects want to build some describable blocks like flow chart.
Thanks for your quick response!

[2022-08-09 17:55] S1SYPHOS opened #111 "Configure space between axes & plotted data as well as between multiple bars"
Hey there,

as you can see, the space between the bar and the yticks is kind of small :smile: is there a way to increase it? And also, I would like a way to force multiple bars to stay close to another!

![image](https://user-images.githubusercontent.com/12161504/183725159-025eca16-534e-48e6-ae3f-5e5d1803e857.png)

Thanks and btw: I LOVE this library!
Cheers,
S1SYPHOS

[2022-08-09 17:59] piccolomo commented on #111
hello no problem ask as much as you want. the only thing i may not be able to upgrade the package anytime soon, other then that questions don't bother me.

in this case i would suggest the function plt.xlim(left, right)... but in one of the previous issues there seem to be a problem with it... you need to set both limits left and right on the x axis and not just one, and it should work.

did it he

[2022-08-09 18:16] S1SYPHOS commented on #111
this seems to alter the values being displayed, not the "physical" distance / space between the y-axis and the first bar .. :confused:

[2022-08-09 18:24] piccolomo commented on #111
it should not if you use plt.xlim and not plt.ylim in you case.

another option is to use plt.yaxes(1,1) after plt.frame(0) and make the color of the axes transparent,  with plt.ticks_color ... i cant remember the color to make it transparent. maybe black or clear... have a look at plt.colors()

[2022-08-09 19:09] S1SYPHOS commented on #110
`frame(False)` was exactly what I needed - I had tried `None` before and it didn't work :)

[2022-08-09 19:09] #110 closed

[2022-08-09 19:10] S1SYPHOS commented on #111
Thanks so much, will investigate further ;)

[2022-08-09 19:33] piccolomo commented on #111
Here is an example with function xlim(), code is above the plot.
![image](https://user-images.githubusercontent.com/56689657/183745654-c9a7c487-8ec0-4e45-ac33-48b3c840c639.png)

[2022-08-11 06:29] S1SYPHOS commented on #111
I'm trying to get the pairs (multi-pair) more closely together, how could I do that? Your example uses three single-bars 😀

[2022-08-11 09:19] piccolomo commented on #111
it should be as easy as using multiple_bar() instead of bar(). if you have difficulties, send me a working code and i could tweak it.

[2022-08-11 11:34] piccolomo commented on #111
Oh and I forgot to add: try increase the `width` parameter of `multiple_bar()` closer to one. Did it work?

[2022-08-11 14:10] S1SYPHOS commented on #111
Well, my example above is already using `multi_bar` 😃

[2022-08-11 14:13] piccolomo commented on #111
you could try the `width` parameter and if you don't manage, feel free to send an initial working code and i could tweak it.

[2022-08-11 14:13] S1SYPHOS commented on #111
I want to move the bar pairs closer together AND configure the space between each pair WHILE maintaining their width! 😮

[2022-08-11 14:15] piccolomo commented on #111
then other then the `width` parameter, you could try to change the coordinates x of each pair so that they are further apart.

[2022-08-11 14:18] S1SYPHOS commented on #111
Thanks! Will experiment some more and report back.

[2022-08-11 22:30] amangoel185 opened #112 "Wrong Definitions of xlim() and ylim() Parameters"
Hi @piccolomo,

Thank you for your amazing work on plotext!

I wanted to define `ylim()` for plots in uproot-browser (scikit-hep/uproot-browser#70) and got confused with how `xlim()` and `ylim()` are defined. The [Plot Limits](https://github.com/piccolomo/plotext/blob/d3f181311dcc4abe66662d70dc833fc471fef05f/readme/settings.md?plain=1#L19) documentation mentions how `xlim(left, right)` and `ylim(l

[2022-08-12 09:58] piccolomo commented on #112
Hi @amangoel185, thanks a lot for taking the time to drop this very important issue. What you report is a total blunder on my side, which I will eventually correct. Please report any other, even here, if you spot them.

Thanks
Savino

[2022-08-12 11:23] amangoel185 commented on #112
I could open a PR for the same if you'd like.

Also, @henryiii suggested it might be better for `ylim()` to use `bottom` and `top` instead, so that it falls in line with [matplotlib](https://github.com/matplotlib/matplotlib/blob/4f5cacfde9024076d9ab0cb6ad1c9a7cf352d5f9/lib/matplotlib/axes/_base.py#L3948) too!

[2022-08-12 13:04] piccolomo commented on #112
Cool, if you need it urgently, feel free to open a PR, otherwise work on it but it is going to take some time as issues are piling up and I am not dealing with `plotext` recently. I will deal with oldest first I guess.

[2022-08-18 12:53] 3h4 opened #113 "Feature Request: Confusion Matrix"
Amazing library! Would it be possible to plot a confusion matrix? Perhaps I can do it with the matrix_plot and then put text on top of that?

[2022-08-18 12:54] piccolomo commented on #113
Thanks for the appreciation:-)

Would that be the confusion matrix connected to machine learning?

[2022-08-18 20:34] 3h4 commented on #113
Yes indeed, that is the case :)

[2022-08-22 11:07] Freed-Wu opened #114 "Feature Request: Better Handling Nan and None Values"
[code]

Expected: A plot which x range is `[0, 200]`, but `[0, 40]` don't have any number.

Actual: A plot which x range is `[40, 200]`.

[2022-08-22 11:08] Freed-Wu opened #115 "Feature Request: Interactive Mode"
Just like <https://github.com/olavolav/uniplot>?

Thanks.

[2022-08-22 12:02] Freed-Wu opened #116 "Strange Coloring of Plot Right Borders"
[code]

Actual:
![Screenshot from 2022-08-22 20-01-06](https://user-images.githubusercontent.com/32936898/185916484-6f80737d-37a8-4860-b296-8e772834991c.png)
![Screenshot from 2022-08-22 20-01-19](https://user-images.githubusercontent.com/32936898/185916500-071fe16c-5bdf-4cd9-bf79-fb4174ccc1bc.png)

Expected: right border should be white, not blue.
Thanks!

[2022-08-25 18:17] piccolomo commented on #116
Thanks, will answer soon!

[2022-08-25 18:17] piccolomo commented on #113
Thanks, will answer relatively soon!

[2022-08-29 10:22] darul75 opened #119 "Graph rendering and spaces between values"
Hi,

Really like this lib, awesome work.

Would need some help on how to render this graph properly it currently result in this rendering with a lot a gap/spaces between values on y-axis.

![Screenshot 2022-08-29 at 12 17 18](https://user-images.githubusercontent.com/2134003/187179503-b2afe8dd-3987-477b-a309-e5a59d22b73a.png)

Any ideas on how to fix that.

I have tried using `plot` or `bar` graph

[2022-08-29 10:28] piccolomo commented on #119
I will come back to this, but for now quickly I would guess that it is a terminal problem. Are you in windows? Have you tried in Linux?

[2022-08-29 10:28] piccolomo commented on #119
There was a similar issue reported, if I remember correctly.

[2022-08-29 10:31] piccolomo commented on #119
I think it was [this one](https://github.com/piccolomo/plotext/issues/17).

[2022-08-29 11:39] darul75 commented on #119
Nice, that was it, thank you so much, learned something new again today.

[2022-08-29 11:39] #119 closed

[2022-08-30 05:18] wjfjfm opened #120 "plotext Not Working with watch package"
This is my tool using plotext: https://github.com/wjfjfm/sysbench_deviation

when I'm using "watch" to see the real time change, it output garbled like this:
![image](https://user-images.githubusercontent.com/24356422/187355360-c76c5459-6c23-47dd-a1a0-00c398999e61.png)

[2022-08-30 09:44] piccolomo commented on #120
Hi @wjfjfm,

thanks for reporting. I have downloaded your files. What command do I run to try to recreate the error?

Thanks.

[2022-08-30 14:08] darul75 opened #121 "Feature request: Indicator Plot - KPI"
hi,
is there a plan or a way to only display a KPI value with some text like in the following

-----
TITLE

36
----

Using subplot it would make a nice dashboard.

thank you

[2022-08-30 15:50] piccolomo commented on #121
Hi @darul75,

thanks for dropping your input. I am not familiar with KPI. Would that mean something like a text + a value (integer or float)?
Or is it more like a plot of a sequence of values?

thanks

[2022-08-30 15:56] darul75 commented on #121
hi @piccolomo yeah very simple way to display some text

here is an example, plenty on google https://www.klipfolio.com/resources/dashboard-examples/executive/kpi-dashboard

[2022-08-30 17:54] piccolomo commented on #121
That is a cool idea. I was playing around with this code:

[code]

![Peek 2022-08-30 18-54](https://user-images.githubusercontent.com/56689657/187508783-2884edc5-7692-4bea-9d6f-a0d813ff4a96.gif)

Could that be a start? Or am I off?

thanks

[2022-08-30 18:28] darul75 commented on #121
My request is not very plot oriented indeed and would be just to be able to display a Key Performance Indicator into a sub block.

Like you got a graph on the left (bar/timeline/whatever plot graph) and on the right a KPI which is simply in general a Title and below a big Number, in screenshot above they do show a trend with an up/down arrow but this is not necessary.

[2022-08-30 18:35] darul75 commented on #121
Kpi could be Max and Min value.

Max
100

Min
17

[2022-08-30 18:36] darul75 commented on #121
But you got something else with this progress bar like chart :) an extra new feature.

[2022-08-30 18:47] piccolomo commented on #121
Ye, here is another quick attempt: just text printed inside a plot, which could be easily inserted in a matrix of subplots

[code]

![Peek 2022-08-30 18-54](https://user-images.githubusercontent.com/56689657/187518247-ad12e61e-ce8f-49ea-91e7-96f3deb5af2b.gif)

[2022-08-30 18:48] piccolomo commented on #121
frame(True) will make the plot more obvious

[2022-08-30 19:00] darul75 commented on #121
Nice, do you know if there would be a way to set some properties like Font size, colors...other than through global properties but just for that particular kpi element.

[2022-08-30 19:10] darul75 commented on #121
Just seeing color is available.

[2022-08-30 19:23] darul75 commented on #121
Also being able to align it or to place it at # pixel from top/left would be ideal.

Tested this
`plt.text('12', 1, 1, color = 'red', alignment = 'center'); \`

But label remains align on the left.

[2022-08-30 19:25] piccolomo commented on #121
Ye, I am in the process of rewriting the code, and there would be a chance to add background color and style. I will update with something more detailed.
In your previous code the alignment remains on the left because the text is on the left corner and so the alignment changes dynamically to remain inside the canvas. I will work on it. For now I wanted to know if this is the direction you were env

[2022-08-30 19:34] darul75 commented on #121
Does not have to be perfect but yes you got it, here is one good example, then we are in a terminal so it does not have to be so pretty. https://user-images.githubusercontent.com/2134003/187484359-3816e746-221f-4de6-88ba-f2fdc952fd0d.png

[2022-08-31 01:30] wjfjfm commented on #120
@piccolomo Thank you and, after travel around "watch --help", I found that it doesn't support ANSI character by default. But it has a flag "-c or --color" to enable ANSI characters.

After using this flag, plotext work well with "watch.

Thanks for building this exellent tool :)

[2022-08-31 16:54] piccolomo commented on #98
Hi @newbiemate,

I am finally working on your idea. Here is a temporary result for stacked bar plot.
![image](https://user-images.githubusercontent.com/56689657/187735444-536af5ed-bacd-43dd-8392-8a3d10801a5b.png)

And here is for multiple bar plot:
![image](https://user-images.githubusercontent.com/56689657/187735654-f96ecb37-02c3-4937-bef3-7a1689bdeb6b.png)

What do you think?

Thanks a lot for f

[2022-08-31 20:22] piccolomo commented on #98
An update: added title and labels

![image](https://user-images.githubusercontent.com/56689657/187774778-9b7178b2-62e7-4b88-8ac5-cf3a6aed03ee.png)

[2022-09-01 09:12] piccolomo commented on #86
Hi @pieterbergmans, I am finally working on your idea. Here is a result:

![image](https://user-images.githubusercontent.com/56689657/187877873-76435675-253b-4898-bf2c-db9a33006833.png)

I still have to upload the code. Any feedback welcomed.

[2022-09-01 09:28] piccolomo commented on #108
Hello @vps-eric,

Here is the result:
![image](https://user-images.githubusercontent.com/56689657/187881061-e8a70cb5-f34a-4ebb-a051-27bfcd8df6e0.png)

I will upload the code soon. Any feedback welcomed. Thanks! :-)

[2022-09-01 11:12] piccolomo commented on #113
Hi @3h4, finally working on your idea. Here is a partial result:

![image](https://user-images.githubusercontent.com/56689657/187900589-021dc80b-bbaa-4f83-ad71-fa8236231a41.png)

I will upload new code soon. Any feedback for now is welcomed.

Thanks

[2022-09-01 11:19] piccolomo commented on #114
Hi @Freed-Wu,

I am working on the issues. Regarding this one, no idea is coming to me on how to solve it. The function that I use to remove non numerical values litterally removes all of the non numerical values (nan or None).

[code]

any idea?

[2022-09-01 11:34] piccolomo commented on #121
Hello,
what do you think about something like this?

![image](https://user-images.githubusercontent.com/56689657/187904408-b30b2af2-ca6a-4645-93f0-46203b557605.png)

[2022-09-01 11:44] Freed-Wu commented on #114
Take matplotlib as an example:
[code]

is equal to

[code]
![a](https://user-images.githubusercontent.com/32936898/187905996-5967756b-e753-4a55-911e-b6143e5fef6f.png)

So. I think just split the array to some parts by `np.nan`, and plot them
separately, which can solve this problem.

[code]

[2022-09-01 11:53] piccolomo commented on #114
Also if in your latest code you use scatter, the plot works

[code]

![image](https://user-images.githubusercontent.com/56689657/187907686-769ee2dc-2463-4610-b3b4-9d94ec3c8a1b.png)

[2022-09-01 13:07] darul75 commented on #121
honestly having just the number label centered vertically/horizontally in the middle of the box and for which we can define a font size would be perfect, the arrow "trend" not being necessary.

[2022-09-01 13:12] piccolomo commented on #121
cool, font size is fixed by terminal and cannot do anything about it, for now.

[2022-09-01 13:23] darul75 commented on #121
getting it centered in that case would be awesome

[2022-09-01 13:24] Freed-Wu commented on #114
[code]

![Screenshot from 2022-09-01 21-19-58](https://user-images.githubusercontent.com/32936898/187924002-daaf5481-c9da-4c08-b62d-3493ca0ce057.png)

1. a function to split the array to a list consisted of some arrays by `np.nan`
2. for each array in the list, plot them with the corresponding x coordinates.

[2022-09-01 13:36] piccolomo commented on #121
great, the trend element will be optional

[2022-09-01 13:41] piccolomo commented on #114
If you let matplotlib deal with first code you sent, you get the same result as in plotext

[2022-09-01 14:12] piccolomo commented on #114
Done! Somehow I managed!

![image](https://user-images.githubusercontent.com/56689657/187935433-d454c6bf-6d06-43ed-ad5c-75b6e6e2ccac.png)

It was not trivial but easier then I thought. I will upload the code soon

[2022-09-01 14:14] piccolomo commented on #114
Interestingly this solves also the first issue you posted
![image](https://user-images.githubusercontent.com/56689657/187936000-1029f7e0-ed63-4cbe-9c0f-3ba772af28b0.png)

[2022-09-01 14:14] vps-eric commented on #108
Fantastic, thank you!

[2022-09-01 14:26] Freed-Wu commented on #114
Great!

Aha :smile:. I'll ask a problem to matplotlib about is it a bug or an expected behavior.

[2022-09-01 14:33] piccolomo commented on #114
Cool thanks a lot for the report. The solution did not involve splitting data luckily (cause otherwise I would have to split all colors, style, and other parameters, which would have been a pain), but the matplotlib example you posted was useful for me to understand anyway. Basically I let nan or None "percolate" inside the calculation until its time to be drawn, where they are simply discared.

[2022-09-01 14:40] Freed-Wu commented on #114
Great! :+1:

[2022-09-01 15:19] Freed-Wu commented on #114
<https://github.com/matplotlib/matplotlib/issues/23797#issuecomment-1234416543>

It should be the expected behavior of matplotlib. Does plotext support auto-scale?

[2022-09-01 15:23] piccolomo commented on #114
No, the new code will not update the x or y limits, it just lets the nan or None value show up to plotting time when they are discarded. The reason why the x limits are preserved at the end is because the x data has all regular values and its limits are calculated naturally.

[2022-09-01 23:34] 3h4 commented on #113
@piccolomo Wow looks perfect! Would it be possible to have more classes than 2, for example 15 different animals or something like that? So you can put a percentage or number in the square and class on the axes. Perhaps there will be not enough room so only numbers can be used? Or single letters. Great work so far!

[2022-09-02 15:19] piccolomo opened #122 "Feature Request: Error Bar"
Hi @piccolomo , I recently found out your library and I find it extremely useful to quickly plot data on a remote server..

If I could advance a feature request: error bars, at least along the y axis!

_Originally posted by @PhilipVinc in https://github.com/piccolomo/plotext/issues/91#issuecomment-1132088192_

I post this in a separate issue as it could be easier to refer to.

[2022-09-02 15:22] piccolomo opened #123 "xlim() and ylim() Error"
Thanks for the response!

Unfortunately, when I try only one parameter in `xlim` or `ylim` I get this error:
<img width="1661" alt="Screen Shot 2022-08-02 at 11 16 20 AM" src="https://user-images.githubusercontent.com/19654278/182445332-432a8df2-25fd-4e85-8895-ace7850cf404.png">

_Originally posted by @eric8he in https://github.com/piccolomo/plotext/issues/91#issuecomment-1203064098_

I repost it

[2022-09-02 16:51] piccolomo commented on #86
Hi @pieterbergmans, I finally updated `plotext` including the changes you asked for.

I introduced the function `interactive()`, but haven't tested properly so any feedback is welcomed.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plot

[2022-09-02 16:51] #86 closed

[2022-09-02 16:53] piccolomo commented on #88
Hi @Neo-Oli ,

I finally updated `plotext` including the changes you asked for.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plotext#install).

Your changes are documented [here](https://github.com/piccolomo/plotext/blob/master/readme/

[2022-09-02 16:53] #88 closed

[2022-09-02 17:00] piccolomo commented on #91
I deleted comments which were issue reports and feature requests, which are very much welcomed in separate issues. Here I leave it just for general feedback if useful.

[2022-09-02 17:02] piccolomo commented on #96
Hi @tweber68 , I finally updated `plotext`.

I introduced simpler bar plots as described [here](https://github.com/piccolomo/plotext/blob/master/readme/bar.md).

The new version is available [on GitHib](https://github.com/piccolomo/plotext) and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plotext#install).

This way t

[2022-09-02 17:02] #96 closed

[2022-09-02 17:03] piccolomo commented on #97
Hi @pieterbergmans, I finally updated `plotext` including [new bar plots](https://github.com/piccolomo/plotext/blob/master/readme/bar.md), which should solve the issue.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plotext#install).

Th

[2022-09-02 17:04] #97 closed

[2022-09-02 17:06] piccolomo commented on #98
Hi @newbiemate, I finally updated `plotext` including the changes you asked for.

I introduced new sketchier bar functions documented [here](https://github.com/piccolomo/plotext/blob/master/readme/bar.md).

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https

[2022-09-02 17:06] #98 closed

[2022-09-02 17:07] piccolomo commented on #99
Hi @spring-cxz , I finally updated `plotext` and the new version should solve this issue.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plotext#install).

Any feedback is welcomed.

Thanks a lot for your inputs and all the best,

[2022-09-02 17:07] #99 closed

[2022-09-02 17:09] piccolomo commented on #101
Hi @mattAndruff , I finally updated `plotext` and the new version should solve this issue.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plotext#install).

Any feedback is welcomed.

Thanks a lot for your inputs and all the best

[2022-09-02 17:09] #101 closed

[2022-09-02 17:12] piccolomo commented on #104
Hi @SkyHyperV , I finally updated `plotext` and the new version should solve this issue.

![image](https://user-images.githubusercontent.com/56689657/188204572-d43900b3-1414-451c-ac0f-05f62141e398.png)

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://g

[2022-09-02 17:12] #104 closed

[2022-09-02 17:14] piccolomo commented on #105
Hi @SkyHyperV , I finally updated `plotext` and the new version should solve this issue.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plotext#install).

Any feedback is welcomed. Please report if the issue persists.

Thanks a l

[2022-09-02 17:14] #105 closed

[2022-09-02 17:15] piccolomo commented on #106
Hi @pankajp , I finally updated `plotext` and the new version should solve this issue.

Your changes are documented [here](https://github.com/piccolomo/plotext/blob/master/readme/other.md#text-plot)

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://gith

[2022-09-02 17:15] #106 closed

[2022-09-02 17:17] piccolomo commented on #108
Hi @vps-eric , I finally updated `plotext` including the changes you asked for.

I introduced the function `square()`, but haven't tested properly so any feedback is welcomed.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plotex

[2022-09-02 17:17] #108 closed

[2022-09-02 17:18] piccolomo commented on #109
Hi @dns13 , I finally updated `plotext` including the changes you asked for.

I introduced the parameter `append` in the `save_fig()` function but haven't tested properly so any feedback is welcomed.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://git

[2022-09-02 17:18] #109 closed

[2022-09-02 17:19] piccolomo commented on #111
Hi @S1SYPHOS , I finally updated `plotext` and the new version should solve this issue.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plotext#install).

Any feedback is welcomed. Please report if the issue persists.

Thanks a lo

[2022-09-02 17:19] #111 closed

[2022-09-02 17:21] piccolomo commented on #112
Hi @amangoel185 , I finally updated `plotext` and the new version should solve this issue.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plotext#install).

Any feedback is welcomed. Please report if the issue persists.

Thanks a

[2022-09-02 17:21] #112 closed

[2022-09-02 17:22] piccolomo commented on #113
Hi @3h4 , I finally updated `plotext` including the changes you asked for.

I introduced the function `confusion_matrix()`, but haven't tested properly so any feedback is welcomed.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/p

[2022-09-02 17:22] #113 closed

[2022-09-02 17:27] piccolomo commented on #114
Hi @Freed-Wu , I finally updated `plotext` including the changes you asked for.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plotext#install).

Your changes are documented [here](https://github.com/piccolomo/plotext/blob/master

[2022-09-02 17:27] #114 closed

[2022-09-02 17:28] piccolomo commented on #115
Hi @Freed-Wu , I finally updated `plotext` including the changes you asked for.

I introduced the function `interactive()`, but haven't tested properly so any feedback is welcomed.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/p

[2022-09-02 17:28] #115 closed

[2022-09-02 17:29] piccolomo commented on #116
Hi @Freed-Wu , I finally updated `plotext` and the new version should solve this issue.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plotext#install).

Any feedback is welcomed. Please report if the issue persists.

Thanks a lo

[2022-09-02 17:29] #116 closed

[2022-09-02 17:30] piccolomo commented on #120
Hi @wjfjfm , I finally updated `plotext`.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plotext#install).

Any feedback is welcomed.

Thanks a lot for your inputs and all the best,
Savino

[2022-09-02 17:30] #120 closed

[2022-09-02 17:36] piccolomo commented on #121
Hi @darul75 , I finally updated `plotext` including the changes you asked for.

I introduced the function `indicator()`, but haven't tested properly so any feedback is welcomed.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plot

[2022-09-02 17:36] #121 closed

[2022-09-02 17:37] piccolomo commented on #122
Hi @PhilipVinc, I finally updated `plotext` including the changes you asked for.

I introduced the function `error_bar()`, but haven't tested properly so any feedback is welcomed.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/pl

[2022-09-02 17:37] #122 closed

[2022-09-02 17:38] piccolomo commented on #123
Hi @eric8hn, I finally updated `plotext` and the new version should solve this issue.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plotext#install).

Any feedback is welcomed. Please report if the issue persists.

Thanks a lot

[2022-09-02 17:38] #123 closed

[2022-09-02 17:45] piccolomo commented on #102
Hi @SkyHyperV , I finally updated `plotext` and the new version should solve this issue automatically.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plotext#install).

Any feedback is welcomed. Please report if the issue persist

[2022-09-02 17:47] piccolomo commented on #103
Hi @SkyHyperV , I finally updated `plotext` and the new version should solve this issue automatically.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plotext#install).

Any feedback is welcomed. Please report if the issue persist

[2022-09-02 17:49] piccolomo commented on #110
Hi @S1SYPHOS , I finally updated `plotext` and the new version should solve this issue.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plotext#install).

Any feedback is welcomed. Please report if the issue persists.

Thanks a lo

[2022-09-02 17:50] piccolomo commented on #119
Hi @darul75 , I finally updated `plotext` and I hope it solves the issue.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plotext#install).

Any feedback is welcomed. Please report if the issue persists.

Thanks a lot for your inp

[2022-09-02 18:17] S1SYPHOS commented on #110
Hey there @piccolomo,
installing the updated version, I am now greeted with: `ModuleNotFoundError: No module named 'shtab'` which - from your code inside `plotext/plotext_cli.py:5` is required, but only listed as `optional` dependency. Since I only installed `plotext`, this now fails my `pytest` :grinning:

[2022-09-02 18:40] darul75 commented on #119
Fantastic @piccolomo really like the result and the way you have been collaborating with me asking for a change. Great job! will let you know and test is asap.

[2022-09-02 18:45] darul75 commented on #121
put my comment in the wrong ticket but for sure you saw it. looking great will give it a try next week

[2022-09-02 22:46] 3h4 commented on #113
@piccolomo Omg, Perfect! Is it possible to put it in a subplot as well? What happens if the space becomes too small?

[2022-09-02 22:57] piccolomo commented on #113
I think you can, if the space diminishes the plot tries its best to adapt, if too small some features disappear. Try it if you can and see if there are any issue. I really haven't played around it much. Thanks :-)

[2022-09-02 23:10] piccolomo commented on #110
Hi @S1SYPHOS , thanks a lot for letting me know I have updated both the github and pypi version and the problem should be solved. Any double checking is welcomed. Thanks!

[2022-09-02 23:24] piccolomo commented on #113
I was trying to get some nice blue shaded rectangles, as gray is a bit dull, but could not find a way around it. If anyone can please send some code. Thanks :-)

[2022-09-02 23:27] piccolomo commented on #121
@darul75 , no problem been correcting small typos in my code for days... so ye i understand! thanks for appreciation.

[2022-09-03 10:19] S1SYPHOS opened #124 "Syntax Error Using Python3.7"
Hey there,
on Python v3.7, I get this when importing `plotext`:

[code]

Seems like a regression, but I'm not familiar with your code :confused:

Cheers,
S1SYPHOS

PS: I just love this library, so flexible, much wow!

[2022-09-03 11:52] piccolomo commented on #124
oh thanks for the report and appreciation! 😀

btw i guess that should not be a syntactical problem. maybe your python version is  old? i am using 3.10. about you?

[2022-09-03 11:53] piccolomo commented on #124
oh you wrote python version. i will investigate and report

[2022-09-03 11:56] S1SYPHOS commented on #124
Yeah, 3.7 - 3.10 runs through my testing pipeline, all others were alright, but 3.7 failed :disappointed:

[2022-09-04 15:31] piccolomo commented on #124
Hi @S1SYPHOS,
I changed the github version to solve this issue, but I cannot fully test it on my machine, as I cannot find a quick way to install packages only on python3.7. Could you kindly install and check that version 5.2.3 (on githib only for now) works well in Python3.7, by using test() for example.

Thanks

[2022-09-04 15:42] S1SYPHOS commented on #124
sec ..

[2022-09-04 15:43] S1SYPHOS commented on #124
seems fine! error's gone

[2022-09-04 15:44] piccolomo commented on #124
:+1: :-) Great thanks! I shall upload it on PyPi soon, but I will wait a few days, as few other little mistakes may appear.
If you find other bugs, welcomed!
Thanks!

[2022-09-04 19:16] darul75 opened #127 "Feature Request: Long Text Plot"
Hello,

I would like to display some text, raw text in a block, like a list of items.

In the following screenshot you can see `bel` instead of `label`

<img width="1380" alt="Screenshot 2022-09-04 at 21 12 18" src="https://user-images.githubusercontent.com/2134003/188329824-01813ff3-bf65-4508-bcd0-2798bd084d03.png">

A final result being more likely like:

`label1........on first line`
`label2...

[2022-09-04 19:33] piccolomo commented on #127
i reply quickly and i hope i understood the issue correctly. try to use the
parameter alignment in the text() function, particularly passing "left".
did it solve it?

On Sun, 4 Sep 2022, 20:17 Julien Valéry, ***@***.***> wrote:

[2022-09-04 19:34] piccolomo commented on #127
the issue should be due to default center alignment

[2022-09-04 19:35] piccolomo commented on #127
btw you do not generally need xside and yside parameters as they accept the default values you passed

[2022-09-04 19:38] piccolomo commented on #127
btw the automatic wrapping idea, is something i could definitely think about. thanks for suggesting

[2022-09-04 22:05] piccolomo commented on #127
Perhaps a text box function could be more useful for large text. Because text() is more for labelling plots where needed, but for dedicated text probably better a text box utility... not trivial but definitively useful. Any coding actual idea is welcome, but for now i will go back mostly to lethargy mode for awhile, after latest update

[2022-09-05 14:49] piccolomo commented on #127
Thinking out loud: would it be enough just plain text in the box? Or better with color and style, and alignment? In which care it will be more complicated.

One option is to integrate the package "rich" to deal with beautiful texts, but it will require a dependency, the other require some coding, non trivial one. In second case, how would the user indicate the coloring/style/alignment of a particu

[2022-09-06 06:48] dns13 commented on #109
Thank you, working like a charm for me.

[2022-09-08 18:53] piccolomo commented on #127
Hi @darul75,

thanks for issue report, I reply to you now properly. Here are some points:

- try to use the parameter alignment in the `text()` function, particularly passing `"left"`: did it work?
- generally you do not need `xside `and `yside `parameters as they accept the default values you passed,
- perhaps a text box function could be a good idea as the function `text()` is more for labelling

[2022-09-09 08:16] darul75 commented on #127
Hi @piccolomo

Been looking at the codebase if I could raise a PR but my knowledge of Python or how this thing works is difficult for me :)

I have tried the following

`plt.text('label1 ', 1, 1, yside = 'left', color = 'red'); \`

gives me a correct display but a longer text seems to be truncated.

`plt.text('label1 is a very long text', 1, 1, yside = 'left', color = 'red'); \`

![Screenshot 2022

[2022-09-09 19:42] piccolomo commented on #127
Hi @darul75 ,

try `plt.text('label1 ', 1, 1, alignment = 'left'); ` instead. Does it help?

[2022-09-10 17:17] #91 closed

[2022-09-11 13:27] darul75 commented on #127
may have passed the wrong arguments indeed, will check.

[2022-09-11 13:29] darul75 opened #128 "How To: Build Date Time Plot by Hour of Days"
Hello,

I would like drawing a scatter plot with a count on the y axis and each hours of the day on the x axis.

Is it possible?

Thanks in advance.

[2022-09-11 13:31] darul75 opened #129 "Best way to write python script from bash script"
It there a best practice on how to write the python script into a basch script.

Mine is like stored into a variable and on each line I need to add ; / at the end..

Not easy to read and modify.

[2022-09-12 05:52] tweber68 commented on #96
@piccolomo Thanks for the information! Looks very good. I will try this in my applications. I will tell you. But I think this will work fine. :-)

[2022-09-12 08:28] piccolomo commented on #129
Hi @darul75,

I think this question is more pertinent in [stackoverflow.com](https://stackoverflow.com/) and related, as it is not specifically about `plotext`. I will delete this issue soon.

[2022-09-12 08:40] piccolomo commented on #128
Hi @darul75,

thanks for posting. Here is an example of code with result:

![image](https://user-images.githubusercontent.com/56689657/189609828-fc3982f7-c39c-43c0-924d-4b571675cba2.png)

Basically the trick is in using plt.date_form('H') as explained [here](https://github.com/piccolomo/plotext/blob/master/readme/datetime.md#utilities).

[2022-09-12 08:51] darul75 commented on #129
Morning, yes no problem you can close this, just opened questions.

[2022-09-12 09:02] piccolomo commented on #128
Btw, if that part of the guide is difficult to understand, please leave some feedback so that I could make it clearer. I would understand, any feedback is appreciated.

[2022-09-12 09:50] piccolomo commented on #128
P.s. little mistake: if you need a scatter plot instead, you could use the function `scatter()`.

[2022-09-12 10:25] darul75 commented on #128
thank you, great, was not sure the `scatter` function could be used in the same way as your example in the documentation exposes a sin() function but not with some real data values.

[2022-09-12 10:28] #128 closed

[2022-09-12 10:59] piccolomo commented on #128
Glad it helped! :+1:

[2022-09-12 12:23] piccolomo commented on #127
Hi @darul75,

I have updated GitHub version to solve your other issue of having multiple lines in the same text box. I manage to do it: all you could do now is have a single string with `'\n'` separator between each sub string, like in this example:
![image](https://user-images.githubusercontent.com/56689657/189652239-2935056c-2ed1-46dd-a1bd-eb7eddea3b28.png)

The new version is available [on GitH

[2022-09-12 12:44] darul75 commented on #127
just awesome again...gonna really help.me finishing that dashboard

[2022-09-12 13:06] piccolomo commented on #127
Ok glad it helps, I close this for now. PyPi version will be updated in following weeks. Thanks for feedback, Savino.

[2022-09-12 13:07] #124 closed

[2022-09-16 17:48] lewoudar opened #130 "Python3.7 not working with Plotext 5.2"
Hello, I was trying your library and on the first attempt I got this message:

[code]

I try the first example in the documentation:

[code]
My environment:
- OS: Ubuntu
- Python version 3.7.7

[2022-09-16 18:46] piccolomo commented on #130
Hi @lewoudar,

thanks for posting. This issue is similar to [this one](https://github.com/piccolomo/plotext/issues/124) and solved in GitHub version.

I will delete this duplicate, when I will upload to PyPi, if you are ok with it. I hope this helps.

Thanks,
Savino

[2022-09-16 21:03] lewoudar commented on #130
Hum.. I still have the same issue with the latest version :/

[2022-09-16 22:16] piccolomo commented on #130
Hi @lewoudar , thanks. Somehow I modified the `_utility.py` file before to solve that error before,.

Anyway, I now have modified the file again to solve the issue. Could you kindly test it again?

Thanks a lot !

[2022-09-17 05:57] lewoudar commented on #130
I have another error now (dependency conflict):

[code]

Little advice: I checked your project quickly and it seems that you didn't write unit tests. It is good practice to write them, it will help you catch many errors before users tell you. After writing the tests, you probably want to set up a CI using something like [GitHub Actions](https://docs.github.com/en/actions) and check your project ag

[2022-09-17 19:39] darul75 commented on #127
Hello @piccolomo,

I tested your example with latest version of plotext.

Within a subplot layout I obtain the following where it goes to the previous plot on the left.

<img width="1030" alt="Screenshot 2022-09-17 at 21 37 15" src="https://user-images.githubusercontent.com/2134003/190873819-6b6d2a93-b042-449f-b8bf-210de5b5908b.png">

I really love your lib by the way, very handy.

[2022-09-18 19:04] piccolomo commented on #127
I reopen so i remember to dealt with it later

[2022-09-18 19:04] piccolomo commented on #127
I reopen so i remember to deal with it later

[2022-09-18 20:24] piccolomo commented on #130
Hi @lewoudar, thanks for feedback and advices! I am will work on `plotext `soon to fix this error as well. In the meantime you could try to install `shtab`, to temporarily fix the issue.

[2022-09-19 13:28] darul75 opened #131 "Custom colors on stack_bar chart"
Hello,

Would it be possible to set custom colors (2 colors) on stack_bar charts other than the defaults:

Example code truncated:

[code]
giving

![Screenshot 2022-09-19 at 11 26 04](https://user-images.githubusercontent.com/2134003/191027606-fae89e07-c80f-4753-8200-71f06cd49712.png)

[code]

giving

![Screenshot 2022-09-19 at 11 25 54](https://user-images.githubusercontent.com/2134003/191027951-

[2022-09-19 14:48] darul75 opened #132 "Conditional rendering"
Hello @piccolomo

Hope you do not mind me asking a lot of questions.

This one is on how to put a conditional rendering in the python code.

I can not find the proper syntax for it.

`if len(myArray) > 0 : plt.stacked_bar(....); \`

I have tried different syntax but can not figure out the best way to add a single if statement to control the rendering of a chart.

If you could help.

Thanks a lot.

[2022-09-19 19:10] darul75 commented on #132
Ok, managed to get it working using this bash trick

[code]

it does the job and I can type normal python, no more `;` and just using indentation.

[2022-09-19 19:10] #132 closed

[2022-09-20 07:52] darul75 commented on #131
Oh I see, checked your code and I can pass an array

`, color = ['black', 'blue']`

[2022-09-20 07:52] #131 closed

[2022-09-20 09:22] piccolomo commented on #131
No problem, I am out of plotext for awhile and will be back.

[2022-09-20 10:42] darul75 commented on #131
before going away :) can you tell me how I can retrieve the size (height/width) of the current figure or plot..I would need that to do something dynamically. have tried different things but cant get these values. in pixel or rows columns whatever. thx

[2022-09-20 11:11] piccolomo commented on #131
ok, i may add this function in the future, but for now: ù
try plt.figure._size for overall figure,
and plt.figure._get_subplot(1,1)._size for a subplot if it exists.

- Savino

On Tue, 20 Sept 2022 at 11:43, Julien Valéry ***@***.***>
wrote:

[2022-09-20 11:12] piccolomo commented on #131
This could be a feauture request, if you find it usefull. Feel free to open.

[2022-09-21 11:49] piccolomo commented on #132
Hi @darul75,

thanks for posting again and glad you found a solution. Unfortunately this issue is not directly about `plotext`, and I will delete it.

I recommend using [stackoverflow.com](stackoverflow.com) or related for this kinds of issues.

In general, any issue report or feature request directly about `plotext` is more then welcomed.

Thanks and all the best,
Savino

[2022-09-24 17:56] piccolomo commented on #130
Hi @lewoudar , I finally updated `plotext` including the changes you asked for.

The new version is available [on GitHib](https://github.com/piccolomo/plotext) for now and soon also [on PyPi](https://pypi.org/project/plotext/). To install follow the indications [here](https://github.com/piccolomo/plotext#install).

Any feedback is welcomed. I have not double test it on Python3.7. I close but if is

[2022-09-24 17:56] #130 closed

[2022-09-24 17:57] piccolomo commented on #127
Hi @darul75 , this issue should be solved in new GitHub version.

To install please follow the indications [here](https://github.com/piccolomo/plotext#install).

Thanks a lot for your inputs and all the best,
Savino

[2022-09-24 17:57] #127 closed

[2022-09-24 18:03] darul75 commented on #127
Perfect timing I am just about to finish what I was building, will share it with you once it is done.

[2022-09-24 18:04] piccolomo commented on #130
P.S thank you for your advice regarding unit testing, which I will work on later on.

[2022-09-25 05:34] lewoudar commented on #130
Hi @piccolomo, it now works when installing it from git source. It just remains to add it on pypi. Thanks

[2022-09-25 16:24] piccolomo commented on #130
[PyPi](https://pypi.org/project/plotext/) version updated: thanks for reminding.

[2022-09-25 17:27] lewoudar commented on #130
You are welcome :)

[2022-09-26 08:16] piccolomo commented on #124
I link here similar [issue](https://github.com/piccolomo/plotext/issues/130), now solved.

[2022-09-26 22:27] piccolomo commented on #127
nice result!

[2022-09-29 07:35] luator opened #133 "from_matplotlib() Not Working with matplotlib 3.6"
It seems `from_matplotlib()` does not work anymore for the latest version of matplotlib.

I can run the [example from the documentation](https://github.com/piccolomo/plotext/blob/master/readme/environments.md#matplotlib) in an environment with matplotlib 3.5.3 installed and it is working as expected.

However, in an other (otherwise identical) environment with the latest matplotlib version 3.6.0 i

[2022-09-29 08:03] luator opened #134 "Feature Request: marker Parameter in function from_matplotlib()"
Is there a way to specify the marker type when using `from_matplotlib()`?

I browsed a bit through the code and it seems it would be straight forward to add an `marker` argument to the function but I was wondering if there is already some other way to achieve this (e.g. by changing the global default)?

[2022-09-29 09:49] piccolomo commented on #134
Thanks, I will look this up! If you find anything else (any other parameter etc.) about that function please let me know, :-)

Thanks

[2022-09-29 09:50] piccolomo commented on #133
Thanks a lot for reporting! I will look this up, I am out of plotext for awhile, but will update!

[2022-09-29 10:29] luator commented on #134
I found that I can overwrite the default like this:
[code]
While this works, it doesn't feel right as it is accessing a private module.
Would it make sense to add a function `set_marker` for doing this in a more proper way?  This would allow to change the marker used in `from_matplotlib()` but in addition might also be useful in other situations.

I can make a PR adding such a function if you agre

[2022-09-29 10:49] piccolomo commented on #134
Hi I think tinkering with default values is overkilling it. Possibly a parameter in the `from_matplotlib()` function could be an idea. The problem is that it would be the same for each subplot if present. I have to look it up exactly but perhaps one could add a function to change a subplot marker which could be accessed with something like plt.figure.subplot().monitor.marker (may not be exactly ri

[2022-09-29 11:25] piccolomo commented on #134
Btw you made me aware that probably I should transfer that default value to `_default.py` in the `default_monitor` class. From there if you still think it could be an idea, one could add a function like `change_default(marker.... or anyother)`. The default value could be accessed with `figure.subplot(row, col).monitor.default.marker`.

[2022-09-29 11:32] piccolomo commented on #134
Note: changing the dafault value, will apply to all subplots. If you need to change each subplot marker a command that addresses `plt.figure.subplot(row, col).monitor.marker` is what you want.

[2022-10-03 11:37] darul75 opened #136 "Ticks without decimals (question)"
Hello @piccolomo

Is there a way to display tick labels without unnecessary decimal values.

<img width="39" alt="Screenshot 2022-10-03 at 13 35 11" src="https://user-images.githubusercontent.com/2134003/193567881-3f645433-2f71-4f84-8f14-31cb3b2da995.png">

Where here I would prefer seeing 1 instead of 1.0 etc.

Thank you,
Julien

[2022-10-03 11:48] piccolomo commented on #136
Using the function `yticks(ticks, labels)` (explained in section Settings > Plot Ticks). Labels could be pure integers converted to string.

[2022-10-03 11:48] #136 closed

[2022-10-03 13:40] darul75 commented on #136
Read it but not carefully enough.

[2022-10-03 19:22] darul75 commented on #136
Managed to do it for `bar` type chart but can not work out how to do the same for a `stacked_bar` chart where I got similar values on one axis (y axis).

[2022-10-06 00:06] ineteye opened #138 "Join Time Gaps on CandleStick"
Hi!
1.Is it possible to join such weekends time gaps?

![image](https://user-images.githubusercontent.com/32996306/194184158-8209c869-4efb-437c-9245-4a5a343d7b7e.png)

2.Is there any way to add margin or offset from plot sides?

![image](https://user-images.githubusercontent.com/32996306/194185143-ca7b8f65-ff5a-41bc-8fde-13251147306f.png)

3. Ability to print OHLC bars will be also awesome

![imag

[2022-10-06 00:06] ineteye opened #139 "Join Time Gaps on CandleStick"
Hi!
1.Is it possible to join such weekends time gaps?

![image](https://user-images.githubusercontent.com/32996306/194184158-8209c869-4efb-437c-9245-4a5a343d7b7e.png)

2.Is there any way to add margin or offset from plot sides?

![image](https://user-images.githubusercontent.com/32996306/194185143-ca7b8f65-ff5a-41bc-8fde-13251147306f.png)

3. Ability to print OHLC bars will be also awesome

![Uplo

[2022-10-06 00:07] #138 closed

[2022-10-06 10:33] piccolomo commented on #138
1. I don't think it is. 2. Using xlim() and ylim(). 3. I don't think there exists the proper markers for those

[2022-10-06 12:27] ineteye commented on #138
Sorry can not make xlim to work, plot was based on this example code:

[code]

* i was trying to use like :
       plt.xlim(-1),plt.xlim(-80)  -- works but not how expected
       plt.xlim(-1,1) ,plt.xlim(-1,2) ..... ---- always get list index out of range
* len(dates)= 83

Can you please help, i want add padding 1 bar from left and right

[2022-10-06 13:41] ineteye commented on #138
Thanks!!! Will wait while it will be available on upgrade :)

Right now still 5.2.7
![image](https://user-images.githubusercontent.com/32996306/194328072-76d18e07-c95a-4d0f-8572-dc6d26645b7c.png)

[2022-10-06 13:59] ineteye commented on #138
Thanks again! Now works fine :)))

[2022-10-06 14:59] ineteye commented on #138
Sorry for bothering again but can not figure out how to swap yticks to right side on candlestick
It always on left i tryed:
[code]
And it still on the left...
![image](https://user-images.githubusercontent.com/32996306/194346575-c1268cd1-36b4-4e89-8d7b-5e5025a66123.png)

[2022-10-06 15:02] piccolomo commented on #138
Interesting bug, the function `candlestick()` lacks the parameters `xside` and `yside` to achieve this, as in all other main plots. I will work on this and update.

[2022-10-06 15:20] piccolomo commented on #138
Btw, now also the x axis could be change (I did not double check tough).

[2022-10-06 15:41] ineteye commented on #138
hline and text creating second yticks,do not know bug that or not ;)))

[code]

![image](https://user-images.githubusercontent.com/32996306/194357346-7cbc6d49-b238-4b48-9c8a-11fe7f95f86c.png)

If use with yside=2, no double bar:
[code]

[2022-10-06 15:43] piccolomo commented on #138
That is not a bug, because in the first case the text or line is added to left y axis and so its ticks are shown as well. In the second case, the left y axis is never used and so no ticks are shown. Thanks tough.

[2022-10-06 18:31] piccolomo commented on #134
Hi @luator,

I added the `marker` parameter to the `from_matplotlib()` function. It worked on my system, but if issue persists please keep updated. It would be great if you could double test it. It does not allow to change the marker for a specific subplot tough.

The new GitHub version 5.2.8 could be installed using: `pip install git+https://github.com/piccolomo/plotext`.

Thanks a lot for the is

[2022-10-06 18:31] #134 closed

[2022-10-06 18:33] piccolomo commented on #133
Hi @luator,

I updated the `from_matplotlib()` function to allow compatibility with `matplotlib` 3.6 without affecting compatibility with version 3.5.
It worked on my system, but if issue persists please keep updated.

The new GitHub version 5.2.8 could be installed using: `pip install git+https://github.com/piccolomo/plotext`.

Thanks a lot for the issue report, and any other bug report is very w

[2022-10-06 18:34] #133 closed

[2022-10-07 07:48] luator commented on #134
Thanks for taking care of this so fast!  I did a quick test and it looks good to me.  I think it is completely sufficient to have one marker style for all subplots in this function.

[2022-10-07 07:49] luator commented on #133
Cool, thanks a lot!  I can confirm that it is now working with matplotlib 3.6.

[2022-10-09 20:08] ineteye opened #141 "Text background and color does not work together"
Hi!

Text background and color does not work together

[code]

![image](https://user-images.githubusercontent.com/32996306/194777012-b8a2dbdc-6bea-40d3-b8f2-607e9b2e3c32.png)

If i remove background='red' :

![image](https://user-images.githubusercontent.com/32996306/194777365-070ba715-4fc4-484d-a1b2-5ec0818e6b4d.png)

[2022-10-09 20:15] piccolomo commented on #141
Hi @ineteye,

thanks for the report, but I do not follow, as it seems then in both cases in gives the intended result. Am I missing something?
First Case: black on red (I get black on red)
Second Case: black (I get black with automatic canvas background)

[2022-10-09 20:47] piccolomo commented on #141
This may be a terminal related issue, cause all works fine on me: what operating system and terminal are you using, if I could ask?

[2022-10-09 20:54] ineteye commented on #141
Thats strange i have this on windows:
![image](https://user-images.githubusercontent.com/32996306/194778984-d4fcb33e-f791-4799-af8a-89bae3555041.png)

[2022-10-09 20:54] ineteye commented on #141
And this on Ubuntu 22.04

![image](https://user-images.githubusercontent.com/32996306/194779018-f5a18607-dc0f-4125-bf30-3fd10a0729ec.png)

[2022-10-09 20:56] piccolomo commented on #141
Strange, I am on Ubuntu 22 and I see what you see on Windows. Are you sure you are not mixing the two?

[2022-10-09 20:58] ineteye commented on #141
Found problem :)) it in Vscode only ... Same code in Visual Studio Code and Ubuntu Terminal

![image](https://user-images.githubusercontent.com/32996306/194779148-e8ade478-24f2-42a3-b667-dcf42879ab83.png)

[2022-10-09 20:59] piccolomo commented on #141
So I understand that all is good on Ubuntu, on your side?

[2022-10-09 21:01] ineteye commented on #141
On Ubuntu Terminal and Windows Terminal, but not in Visual Studio Code... It draw on white, so problem.

[2022-10-09 21:03] piccolomo commented on #141
got it. Not sure how to help then. If you find a solution, keep reporting please, it may help someone else.

Thanks for reporting

[2022-10-09 21:03] #141 closed

[2022-10-09 21:09] piccolomo commented on #141
P.S. if you want to play around coloring in Visual Studio Code, try directly the `colorize()` function with different colors and backgrounds. Guide [here](https://github.com/piccolomo/plotext/blob/master/readme/utilities.md#colored-text). Thanks

[2022-10-09 21:20] ineteye commented on #141
Ok i will try ;)) If will be successful will post here ;)

[2022-10-09 21:40] ineteye commented on #141
Tried colorize and looks same result...
So its just does not work in VsCode

![image](https://user-images.githubusercontent.com/32996306/194780613-be490f41-4f0f-4895-b3d3-8e66dd381eae.png)

[2022-10-09 21:41] ineteye commented on #141
Also is it possible to set the color and type(dot-like) of the grid?
I checked your docs and did not find any mention of that.

[2022-10-09 21:44] piccolomo commented on #141
Ye! I guess those little embedded terminal are not idea.

Regarding grid color: you could use the `ticks_color()` function. But the type cannot be changed, only the color.

[2022-10-09 21:44] piccolomo commented on #141
Guide [here](https://github.com/piccolomo/plotext/blob/master/readme/aspect.md#colors).

[2022-10-09 21:47] piccolomo commented on #141
I guess if you want horizontal or vertical dot lines, you could create them artificially with the `plot()` function.
![image](https://user-images.githubusercontent.com/56689657/194780933-f10e42b6-9963-4f71-bfdf-31cd58a7a650.png)

[2022-10-09 21:56] ineteye commented on #141
no i was thinking about plt.grid(x=30,y=30) cause it synced with ticked
Something like that:
![image](https://user-images.githubusercontent.com/32996306/194781275-252d8aa7-c6e2-4775-b0c0-b5811f5cf375.png)